---
layout: blog
title: Blog Posts
description: Blogs post to help you manage your site.
---

<!-- <div>
  {% assign post = site.posts.first %}
  {% assign content = post.content %}
  {% include post_detail.html %}
</div> -->

<p><img src="{{ site.url }}/assets/images/SmallBusinessTipTrick-Group.jpg" style="width:50%;" class="img-responsive img-thumbnail" alt="Small BusinessTips & Trick" /></p>

<div class="row">
  <div class="col-sm-12">
    {% assign post = site.posts.first %}
    {% assign content = post.content %}
    {% include blog_detail.html %}
  </div>
</div>

<!-- row 1 -->
<div class="row">
  <!-- Col 1 -->
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-11">
        <a href="{{ site.url}}/Blog/Advertising" class="text-center"><img src="{{ site.url }}/assets/images/media-advertising-261382190.jpg" class="img-responsive img-thumbnail" alt="Advertising" /></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-11">
        <p class="text-center"><a href="{{ site.url}}/Blog/Advertising"><strong><em>{ Advertising }</em></strong></a></p>
      </div>
    </div>
  </div>
  <!-- Col 2 -->
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-11">
        <p class="text-center"><img src="{{ site.url }}/assets/images/branded-content.png" class="img-responsive img-thumbnail" alt="Content and Experience" /></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-11">
        <p class="text-center"><a href="{{ site.url}}/Blog/ContentExperience"><strong><em>{ Content and Experience }</em></strong></a></p>
      </div>
    </div>
  </div>
  <!-- Col 3 -->
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-11">
        <p class="text-center"><img src="{{ site.url }}/assets/images/branded-content.png" class="img-responsive img-thumbnail" alt="Listings" /></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-11">
      <p class="text-center"><a href="{{ site.url}}/Blog/Listings"><strong><em>{ Listings }</em></strong></a></p>
      </div>
    </div>
  </div>
</div>
<p>&nbsp;</p>

<!-- row 2 -->
<div class="row">
  <!-- Col 1 -->
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-11">
        <p class="text-center"><img src="{{ site.url }}/assets/images/media-advertising-261382190.jpg" class="img-responsive img-thumbnail" alt="Advertising" /></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-11">
        <p class="text-center"><a href="{{ site.url}}/Blog/Websites"><strong><em>{ Websites }</em></strong></a></p>
      </div>
    </div>
  </div>
  <!-- Col 2 -->
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-11">
        <p class="text-center"><img src="{{ site.url }}/assets/images/branded-content.png" class="img-responsive img-thumbnail" alt="Content and Experience" /></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-11">
        <p class="text-center"><a href="{{ site.url}}/Blog/Reputation"><strong><em>{ Reputation }</em></strong></a></p>
      </div>
    </div>
  </div>
  <!-- Col 3 -->
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-11">
        <p class="text-center"><img src="{{ site.url }}/assets/images/branded-content.png" class="img-responsive img-thumbnail" alt="Content and Experience" /></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-11">
        <p class="text-center"><a href="{{ site.url}}/Blog/SEO"><strong><em>{ SEO }</em></strong></a></p>
      </div>
    </div>
  </div>

</div>
<p>&nbsp;</p>

<!-- row 3 -->
<div class="row">
  <!-- Col 1 -->
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-11">
        <p class="text-center"><img src="{{ site.url }}/assets/images/media-advertising-261382190.jpg" class="img-responsive img-thumbnail" alt="Advertising" /></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-11">
        <p class="text-center"><a href="{{ site.url}}/Blog/Social"><strong><em>{ Social }</em></strong></a></p>
      </div>
    </div>
  </div>
  <!-- Col 2 -->
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-11">
        <p class="text-center"><img src="{{ site.url }}/assets/images/branded-content.png" class="img-responsive img-thumbnail" alt="Content and Experience" /></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-11">
        <p class="text-center">{ Blank Box }</p>
      </div>
    </div>
  </div>
  <!-- Col 3 -->
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-11">
        <p class="text-center"><img src="{{ site.url }}/assets/images/branded-content.png" class="img-responsive img-thumbnail" alt="Content and Experience" /></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-11">
        <p class="text-center">{ Blank Box }</p>
      </div>
    </div>
  </div>
</div>
<p>&nbsp;</p>
