---
layout: blog
title: "News"
categories: news
description: Announcments and news Releases.
---

<div class="row">
  <div class="col">
    {% for post in site.categories.Press-Release %}
      {{ site.posts.first.content }}
    {% endfor %}

    <hr />

    <!-- disqus -->
    {% include disqus.html %}

  </div>
  <div class="col-3">
    {% for category in page.categories %}
      {% assign moreThanOneInCategory = false %}
        {% assign posts = site.categories[category] %}

        {% for post in posts %}
          {% if forloop.length > 1 %}
            {% assign moreThanOneInCategory = true %}
          {% endif %}
        {% endfor %}
        {% if moreThanOneInCategory == true %}
          <div class="related-posts">
            <hr />
            <h3>News Archives</h3>
            <hr />

            <ul>
              {% for post in posts %}
                {% unless post.url == page.url %}
                  <li>
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>

                    Published on <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>
                  </li>
                {% endunless %}
              {% endfor %}
            </ul>
          </div>
        {% endif %}
    {% endfor %}
  </div>
</div>
