
<!-- this page is for displaying addes like pcmatice or domain hosting etc.. -->
<div class="row">
  <div class="col">
    <a href="https://cart.pcpitstop.com/go.asp?id=500754&aff=18983" target="_blank"><img class="img-center img-responsive img-thumbnail" src="https://www.pcpitstop.com/images/affiliates/500754.gif" style="width:100%;" border="0" alt="PC Pitstop Is your PC slow?"/></a><br />
    <a href="https://reciprocitylabs.com/" target="_blank"><img class="img-center img-responsive img-thumbnail" src="{{site.url}}/assets/images/press-release/Reciprocity Logo.png" style="width:100%;" border="0" alt="Risk Management"/></a>

  </div>
  <div class="col">
    <a href="https://www.domain.com/join/index.bml?bannerID=933&AffID=746605&amp;LinkName=kodemonkey" target="_blank"><img src="https://www1.domain.com/affiliate/banners/933" alt="affiliate_link" class="img-center img-responsive img-thumbnail" style="width:84%;"/></a>
  </div>
</div>
