<!-- Addons for Packages -->
{% if page.category == "Websites Packages" %}

  {% unless page.title contains "Advance" %}
    <hr / >
    <div class="row mb-3 ml-3">
      <div class="col-1 ASEO-icon pb-5"></div>
      <div class="col"><small><a href="{{site.url}}/marketing/Advanced-SEO">Advanced SEO</a></small></div>
    </div>
  {% endunless %}
{% endif %}

<!-- Addons for Websites Only -->
{% if page.category == "Websites Only" %}
  {% unless page.title contains "Advance" %}
    <hr / >
    <h4 class="pb-3">Add-On</h4>

    <!-- ASEO -->
    <div class="row mb-3 ml-3">
      <div class="col-1 ASEO-icon pb-5"></div>
      <div class="col"><small><a href="{{site.url}}/marketing/Advanced-SEO">Advanced SEO</a></small></div>
    </div>
    <!-- end row -->
  {% endunless %}
{% endif %}
