<div class="row">
  <div class="col-8">
    <p>We make it possible for businesses like yours to compete online by moving your websites higher in local search rankings. Why is it important to
    rank well on sites like Google and Bing? Because over 80% of consumers search online before making a buying decision. We will help your website rank higher, get noticed, and drive more sales.</p>

    <ul class="fa-ul">
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Affordable SEO with no obligation: We offer comprehensive, high-quality, US-based SEO at reasonable prices.</li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Complete transparency and measurable results: Our powerful reporting dashboard shows you exactly where their SEO dollars are going.</li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>24/7 Campaign Monitoring: We monitor every SEO campaign to identify areas of improvement. We also provide monthly updates on campaign performance to ensure your goals are being met.</li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Experience and technology: We’re helping over 27,000 businesses boost their search rankings and we manage over 100,000 keywords. This experience, coupled with our industry-leading technology, gives us access to vast amounts of data that keeps us ahead of other SEO providers.</li>
    </ul>

    <h3 class="text-uppercase">FAQ</h3>

    <div class="accordion" id="BoostSEO">
      <div class="card">
        <div class="card-header" id="BSB-headingOne">
          <a href="#"  class="collapsed"  data-toggle="collapse" data-target="#BSB-collapseOne" aria-expanded="true" aria-controls="BSB-collapseOne">
            What is SEO?
          </a>
        </div>

        <div id="BSB-collapseOne" class="collapse" aria-labelledby="BSB-headingOne" data-parent="#BoostSEO">
          <div class="card-body">
            SEO stands for Search Engine Optimization. It’s the work that goes into a website to make it appear higher in the results of search engines
            like Google and Bing.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="BSB-headingTwo">
          <a href="#"  class="collapsed"  data-toggle="collapse" data-target="#BSB-collapseTwo" aria-expanded="false" aria-controls="BSB-collapseTwo">
            How does SEO work exactly?
          </a>
        </div>
        <div id="BSB-collapseTwo" class="collapse" aria-labelledby="BSB-headingTwo" data-parent="#BoostSEO">
          <div class="card-body">
            Search engines like Google look at two things when evaluating your website and deciding where to rank it
            - <span class="text-uppercase"><strong>relevance</strong></span> and <span class="text-uppercase"><strong>trust</strong></span>. relevance
            is the content of a website and the code behind the scenes. If your code is optimized and the content on your site is relevant to a search,
            Google will move you up in the rankings. TRUST refers to how many other sites on the internet are linking back to your site. If a large number
            of high-quality sites are pointing to you, Google will start to trust you and move you up in the rankings.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="BSB-headingThree">
          <a href="#"  class="collapsed"  data-toggle="collapse" data-target="#BSB-collapseThree" aria-expanded="false" aria-controls="BSB-collapseThree">
            How long does it take to see results?
          </a>
        </div>
        <div id="BSB-collapseThree" class="collapse" aria-labelledby="BSB-headingThree" data-parent="#BoostSEO">
          <div class="card-body">
            Good <span class="text-uppercase">SEO</span> can’t be done overnight, it takes time. Many of our customers start to see results in 3-4 months. In fact, over 80% of our small business clients can reach the 1st page of Google after 6 months if the right conditions are met.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="BSB-headingFour">
          <a href="#"  class="collapsed"  data-toggle="collapse" data-target="#BSB-collapseFour" aria-expanded="false" aria-controls="BSB-collapseFour">
            Does Advanced <span class="text-uppercase">SEO</span> work for every type of business?
          </a>
        </div>
        <div id="BSB-collapseFour" class="collapse" aria-labelledby="BSB-headingFour" data-parent="#BoostSEO">
          <div class="card-body">
            Yes! As long as your business offers a viable product or service at a reasonable price, then SEO can move your website higher in search rankings and drive more sales.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="BSB-headingFive">
          <a href="#"  class="collapsed"  data-toggle="collapse" data-target="#BSB-collapseFive" aria-expanded="false" aria-controls="BSB-collapseFive">
            How will I know that <span class="text-uppercase">SEO</span> is working?
          </a>
        </div>
        <div id="BSB-collapseFive" class="collapse" aria-labelledby="BSB-headingFive" data-parent="#BoostSEO">
          <div class="card-body">
            Advanced provides total transparency into all of the work that we perform. Each client is being given access to a custom reporting dashboard that shows every single SEO action being performed both on and off their website. You will be able to track every dollar of your SEO spend, as well as monitor keyword movement and overall performance. We also provide monthly updates to all SEO customers to review campaign activity and performance, ensuring that your goals are being achieved.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="BSB-headingSix">
          <a href="#"  class="collapsed"  data-toggle="collapse" data-target="#BSB-collapseSix" aria-expanded="false" aria-controls="BSB-collapseSix">
            How long does it take to see results?
          </a>
        </div>
        <div id="BSB-collapseSix" class="collapse" aria-labelledby="BSB-headingSix" data-parent="#BoostSEO">
          <div class="card-body">
            We do not recommend using <span class="text-uppercase">SEO</span> as a replacement for what you’re currently doing. <span class="text-uppercase">SEO</span>
            compliments other forms of advertising like print and radio, and you will see the most impact by adding Advanced <span class="text-uppercase">SEO</span> to
            your current marketing efforts.
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="col-4 d-sm-block d-xs-block">
    <!-- Add-Ons -->
    <h4 class="pb-3">Upgrades</h4>

    <div class="row mb-3 ml-3">
      <div class="col-1 ASEO-icon pb-3"></div>
      <div class="col"><small>5 SEO Hours</small></div>
    </div>
    <div class="row mb-3 ml-3">
      <div class="col-1 ASEO-icon pb-3"></div>
      <div class="col"><small>10 SEO Hours</small></div>
    </div>
    <div class="row mb-3 ml-3">
      <div class="col-1 ASEO-icon pb-3"></div>
      <div class="col"><small>100 SEO Hours</small></div>
    </div>

    <hr / >
    <!-- Gallery -->
    <h4 class="pb-3">Gallery</h4>
    <!-- row -->
    <div class="row mb-3">
      <div class="col">
        <a href="{{site.url}}/assets/images/website/BSB-img-1.jpg"><img src="{{site.url}}/assets/images/website/BSB-img-1.jpg"></a>
      </div>
      <div class="col">
        <a href="{{site.url}}/assets/images/website/BSB-img-2.jpg"><img src="{{site.url}}/assets/images/website/BSB-img-2.jpg"></a>
      </div>
    </div>
    <!-- end row -->
    <!-- row -->
    <div class="row mb-3">
      <div class="col">
        <a href="{{site.url}}/assets/images/website/BSB-img-3.jpg"><img src="{{site.url}}/assets/images/website/BSB-img-3.jpg"></a>
      </div>
      <div class="col">
        <a href="{{site.url}}/assets/images/website/BSB-img-4.jpg"><img src="{{site.url}}/assets/images/website/BSB-img-4.jpg"></a>
      </div>
    </div>
    <!-- end row -->
    <div class="row mb-3">
      <div class="col">
        <a href="{{site.url}}/assets/images/website/BSB-img-5.jpg"><img src="{{site.url}}/assets/images/website/BSB-img-5.jpg"></a>
      </div>
      <div class="col">

      </div>
    </div>
    <!-- end row -->

  </div>
</div>
