  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Want to know your online grade?<h2>
              <p>A snapshot report will reveial what your customers see <br /> when they search for your business or your product.</p>
              <a href="http://qy8i.snapshotreport.biz/widget/landing-page/" target="_blank" class="btn btn-warning btn-xl wow tada" title="Get a Free Snapshot">Free Snapshot</a>
          </div>
      </div>
  </aside>
