<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let us build your web presence!</h2>
                <hr class="light">
                <p class="text-faded">We understand you have a business to run and that your time is money.<br/>
                  Whether it's managing your own business or running a government entity we can help. <br/>
                  We don't just build a website. We market it through SEM and local listings</p>
                <a href="{{baseurl}}/about-us" class="btn btn-default btn-xl" title="About the Kodemonkey">Meet the Kodemonkey</a> &nbsp;
                <!-- <a href="#testimonials" class="btn btn-default btn-xl" title="Tesimonials">What others are saying!</a> -->
            </div>
        </div>
    </div>
</section>
