<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's build your web presence together!</h2>
                  <p class="text-faded">So our communities can </br>
                  Build, Buy, Grow, & Live Local.</p>
                <a href="{{baseurl}}/about-us" class="btn btn-danger btn-xl" title="About the Kodemonkey">Learn @MeetTheKodemonkey</a> &nbsp;
                <!-- <a href="#testimonials" class="btn btn-default btn-xl" title="Tesimonials">What others are saying!</a> -->
            </div>
        </div>
    </div>
</section>
