

<div class="container p-5">
  <div class="row">
    <div class="head_title text-center">
      <h2 class="text-uppercase">Contact the Kodemonkey</h2>
      <p>Starting a new project or updating a current one. We have the experts standing by.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 col-sm-12 mx-3">
      <form accept-charset="UTF-8" action="https://formspree.io/admin@kaffeinatedkodemonkey.com" method="POST">
        <div class="form-group">
          <label class="sr-only" for="name">Name:</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Full Name" required="">
        </div>

        <div class="form-group">
          <label class="sr-only" for="email">Email:</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required="">
        </div>


        <div class="form-group">
          <label class="sr-only" for="message">Message:</label>
          <textarea class="form-control" id="message" name="message" rows="8" placeholder="Message"></textarea>
        </div>

        <div class="center-content">
          <input type="submit" value="Submit" class="btn btn-md btn-info">
        </div>
      </form>
    </div>
    <div class="col-md-5 col-sm-12 mx-3">
      <div class="single_right_contact">
        <p>Our Developers and Accessibility Specialists are here to help you with your next project. Contact to schedule
          your free consultation.</p>

          <p>If you have a question about one of our packages please don't hesitate to ask.</p>

         <div class="contact_address margin-top-40">
            <span>Rangely, Colorado</span>
            <span class="margin-top-20">T: (720) 608-1444</span>
          </div>

        <div class="contact_socail_bookmark">
          <a href="https://facebook.com/{{site.facebook_username}}" target="_blank" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
          <a href="https://twitter.com/{{site.twitter_username}}" target="_blank" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
          <a href="https://www.linkedin.com/in/{{site.linkedIn_username}}" target="_blank" aria-label="LinkedIn"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
