<div class="row">
  <div class="col-8">
    <p>Online reviews are critical to the success of a local business. In fact, nearly 90% of consumers say they’ll only consider using a business
    if they have an average rating of 3-5 stars. Your clients know that it’s important to capture their customer's feedback, but they need your help.</p>

    <p>With Customer Voice, your clients have the power to gather customer experiences to boost online star power and drive more business. Win the
    trust of new customers, collect their valuable feedback and show up where they are looking. </p>

    <p>Deliver a powerful customer feedback tool that will have your clients seeing stars!</p>

    <div class="embed-responsive embed-responsive-16by9 mt-3 mb-3">
      <iframe class="embed-responsive-item" title="Customer Voice" src="https://fast.wistia.net/embed/iframe/1eg6q32egh" allowfullscreen></iframe>
    </div>

    <ul class="fa-ul">
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Use your happy customers to win new customers: Leverage the voice of your brand champions to improve online word-of-mouth. Invite existing customers to share their experiences online so new customers know they can trust you. </li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Collect feedback to better your business: Ensure you’re giving customers what they want and expect. Invite them to share their experiences and put their valuable feedback to work.</li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Build a targeted presence across popular review sites: Make sure your business reviews show up where your customers spend the most time. Focus on collecting feedback on the review sites that impact your business. </li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Help your business shine in local search: Maximize the SEO benefits of positive customer experiences. Gathering authentic reviews will help you show up in search so new customers can find you.</li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Reach customers wherever they are: Customer Voice gives you the flexibility to request reviews on the medium that works best for your customers—either text message or email.</li>
    </ul>

    <h3 class="text-uppercase">FAQ</h3>

    <div class="accordion" id="CVoice">
      <div class="card">
        <div class="card-header" id="CV-headingOne">
          <a href="#"  class="collapsed"  data-toggle="collapse" data-target="#CV-collapseOne" aria-expanded="true" aria-controls="CV-collapseOne">
            Why do customer reviews matter?
          </a>
        </div>

        <div id="CV-collapseOne" class="collapse" aria-labelledby="CV-headingOne" data-parent="#CVoice">
          <div class="card-body">
            Consumers often search online for a local business with recent reviews and an average review rating of at least four stars. If a business doesn’t fall into that category, there’s a good chance they’re losing potential customers to competitors. To avoid losing sales, it’s important to continuously generate positive reviews while managing the negative ones.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="CV-headingTwo">
          <a href="#" class="collapsed"  data-toggle="collapse" data-target="#CV-collapseTwo" aria-expanded="false" aria-controls="CV-collapseTwo">
            Why is it important to continuously generate new reviews?
          </a>
        </div>
        <div id="CV-collapseTwo" class="collapse" aria-labelledby="CV-headingTwo" data-parent="#CVoice">
          <div class="card-body">
            For local businesses, having a steady stream of recent reviews is crucial. 73% of consumers say reviews written more than 3 months ago aren’t relevant anymore. Customers want to see reviews that relate to the business as it is today.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="CV-headingTwo">
          <a href="#" class="collapsed"  data-toggle="collapse" data-target="#CV-collapseTwo" aria-expanded="false" aria-controls="CV-collapseTwo">
            What is included in this product?
          </a>
        </div>
        <div id="CV-collapseTwo" class="collapse" aria-labelledby="CV-headingTwo" data-parent="#CVoice">
          <div class="card-body">
            <ul>
              <li>Bulk upload customers</li>
              <li>Unlimited email review request capabilities</li>
              <li>Bulk send emails</li>
              <li>Send SMS review requests, available through add-ons</li>
              <li>Bulk send SMS</li>
              <li>Up to 40 saved templates</li>
              <li>Review generation widget</li>
            <ul>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="col-4 d-sm-block d-xs-block">
    <h4 class="pb-3">Upgrades</h4>

    <div class="row mb-3 ml-3">
      <div class="col-1 cv-50-icon pb-3"></div>
      <div class="col"><small>SMS 50 - $20</small></div>
    </div>
    <div class="row mb-3 ml-3">
      <div class="col-1 cv-100-icon pb-3"></div>
      <div class="col"><small>SMS 100 - $25</small></div>
    </div>
    <div class="row mb-3 ml-3">
      <div class="col-1 cv-200-icon pb-3"></div>
      <div class="col"><small>SMS 200 - $30</small></div>
    </div>
    <div class="row mb-3 ml-3">
      <div class="col-1 cv-500-icon pb-3"></div>
      <div class="col"><small>SMS 500 - $50</small></div>
    </div>
    <div class="row mb-3 ml-3">
      <div class="col-1 cv-1000-icon pb-3"></div>
      <div class="col"><small>SMS 1000 - $80</small></div>
    </div>

    <hr />

    <h4 class="pb-3">Gallery</h4>
    <!-- row -->
    <div class="row mb-3">
      <div class="col">
        <a href="{{site.url}}/assets/images/website/CV-img-1.png"><img src="{{site.url}}/assets/images/website/CV-img-1.png"></a>
      </div>
      <div class="col">
        <a href="{{site.url}}/assets/images/website/CV-img-2.png"><img src="{{site.url}}/assets/images/website/CV-img-2.png"></a>
      </div>
    </div>
    <!-- end row -->
    <!-- row -->
    <div class="row mb-3">
      <div class="col">
        <a href="{{site.url}}/assets/images/website/CV-img-3.png"><img src="{{site.url}}/assets/images/website/CV-img-3.png"></a>
      </div>
      <div class="col">
        <a href="{{site.url}}/assets/images/website/CV-img-4.png"><img src="{{site.url}}/assets/images/website/CV-img-4.png"></a>
      </div>
    </div>
    <!-- end row -->
    <!-- row -->
    <div class="row mb-3">
      <div class="col">
        <a href="{{site.url}}/assets/images/website/CV-img-5.png"><img src="{{site.url}}/assets/images/website/CV-img-5.png"></a>
      </div>
      <div class="col">
        <a href="{{site.url}}/assets/images/website/CV-img-6.png"><img src="{{site.url}}/assets/images/website/CV-img-6.png"></a>
      </div>
    </div>
    <!-- end row -->


  </div>
</div>
