<div class="row">
  <div class="col-8">

    <p>A Domain Name, such as www.MyBusinessName.com, is the web address to your site, which is essential for branding and being found on search engines.</p>

    <ul class="fa-ul">
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Adds credibility to your business. </li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Improves website ranking in search engines for relevant searches.</li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span> Makes your website address easily accessible and memorable for customers.</li>
    </ul>

    <h3 class="text-uppercase">FAQ</h3>

    <div class="accordion" id="WordPress">
      <div class="card">
        <div class="card-header" id="WP-headingOne">
          <a href="#" class="collapsed"  data-toggle="collapse" data-target="#WP-collapseOne" aria-expanded="false" aria-controls="WP-collapseOne">
            I've purchased a domain add-on. How do I use it to register a domain name for my Pagevamp website?
          </a>
        </div>
        <div id="WP-collapseOne" class="collapse" aria-labelledby="WP-headingOne" data-parent="#WordPress">
          <div class="card-body">
            <ol>
              <li>Access Pagevamp's editor from your dashboard.</li>
              <li>Once you’re in the editor, go to the “Settings” tab.</li>
              <li>Click on “Custom URL”, search a domain name you want to register, and if it is available, click on “Available” to register your domain name. Your Pagevamp website will be displayed on your registered domain name within one hour.</li>
            </ol>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="WP-headingTwo">
          <a href="#" class="collapsed" data-toggle="collapse" data-target="#WP-collapseTwo" aria-expanded="false" aria-controls="WP-collapseTwo">
            If I already own a domain, can it be used for my Pagevamp website?
          </a>
        </div>
        <div id="WP-collapseTwo" class="collapse" aria-labelledby="WP-headingTwo" data-parent="#WordPress">
          <div class="card-body">
            A domain name is like a street address, but for the Internet. A domain name is letters and numbers followed by an ending like (.com) or (.ca). It is also the URL customers enter to find your website.
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Gallery -->
  <div class="col-4">
    <h4>Gallery</h4>
    <!-- row -->
    <div class="row mb-3">
      <div class="col">
        <a href="{{site.url}}/assets/images/website/WP-img-1.jpg"><img src="{{site.url}}/assets/images/website/PV-img-1.png"></a>
      </div>
      <div class="col">
        <a href="{{site.url}}/assets/images/website/WP-img-2.jpg"><img src="{{site.url}}/assets/images/website/PV-img-2.png"></a>
      </div>
    </div>
    <!-- end row -->
    <!-- row -->
    <div class="row mb-3">
      <div class="col">
        <a href="{{site.url}}/assets/images/website/WP-img-3.jpg"><img src="{{site.url}}/assets/images/website/PV-img-3.png"></a>
      </div>
      <div class="col">
        <a href="{{site.url}}/assets/images/website/WP-img-3.jpg"><img src="{{site.url}}/assets/images/website/PV-img-4.png"></a>
      </div>
    </div>
    <!-- end row -->
    <!-- row -->
    <div class="row mb-3">
      <div class="col">
        <a href="{{site.url}}/assets/images/website/WP-img-3.jpg"><img src="{{site.url}}/assets/images/website/PV-img-5.png"></a>
      </div>
      <div class="col">
        <a href="{{site.url}}/assets/images/website/WP-img-3.jpg"><img src="{{site.url}}/assets/images/website/PV-img-6.png"></a>
      </div>
    </div>
    <!-- end row -->
  </div>
</div>
