<div class="row">
  <div class="col-8">
    <p><strong>A Website in Seconds!</strong></p>

    <p>Pagevamp is the easiest and fastest way for you to create a professional website that amplifies your presence online and drives your business.
      Get a website built for you in seconds! Pagevamp connects with your Facebook Page to pull all of your information (like photos and videos) and
      automatically builds a beautiful website in seconds—no technical skills required!</p>

    <p>Your new website is synced with your Facebook Page, so all news posts, events, and photos posted to you Facebook page will be updated automatically on your Pagevamp website. You can customize the look, feel, and content of your website using a simple, user-friendly editor.</p>

    <p>To see how your website can turn out, take a look at this <a href="https://www.fioropizza.com/" target="_blank"><strong>Example</strong></a>!</p>

    <ul class="fa-ul">
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Automatic Updates: Your new website is synced with your Facebook Page, so all your Facebook news posts, events, and photos will be updated automatically on your Pagevamp website. </li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Improve Visibility Online: Pagevamp websites perform better than Facebook Pages (and other social pages) in search results because Google gives preference to websites published on a custom domain. </li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Market to Non-Facebook User: Only Facebook users can engage with your Facebook Page. Having a website allows you to pitch your business and be contacted by 100% of internet users, even non-Facebook users. </li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Customization: You can customize the look, feel, and content of your website using a simple, user-friendly editor. </li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Sell Better: Visitors who land on your business’s Pagevamp website are more likely to take action than if they land on your business’s Facebook Page.</li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Launch your website in minutes: Pagevamp is able to create the initial version of your website in seconds using your Facebook Page content. Just customize the site to your needs, and launch! </li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Everything you need is included: .COM domain, hosting, newsletter, e-commerce, and analytics </li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>We are website experts: Over 15,000 small businesses have built their websites with Pagevamp. You're in good company. </li>
    </ul>

    <h3 class="text-uppercase">FAQ</h3>

    <div class="accordion" id="WordPress">
      <div class="card">
        <div class="card-header" id="WP-headingOne">
          <a href="#" class="collapsed"  data-toggle="collapse" data-target="#WP-collapseOne" aria-expanded="false" aria-controls="WP-collapseOne">
            Does I need to have a Facebook Page to build a website with Pagevamp?
          </a>
        </div>
        <div id="WP-collapseOne" class="collapse" aria-labelledby="WP-headingOne" data-parent="#WordPress">
          <div class="card-body">
            Yes. Pagevamp will use your Business Facebook Page for initial site creation and regular updates.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="WP-headingTwo">
          <a href="#" class="collapsed" data-toggle="collapse" data-target="#WP-collapseTwo" aria-expanded="false" aria-controls="WP-collapseTwo">
            If I already own a domain, can it be used for my Pagevamp website?
          </a>
        </div>
        <div id="WP-collapseTwo" class="collapse" aria-labelledby="WP-headingTwo" data-parent="#WordPress">
          <div class="card-body">
            A domain name is like a street address, but for the Internet. A domain name is letters and numbers followed by an ending like (.com) or (.ca). It is also the URL customers enter to find your website.
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Gallery -->
  <div class="col-4 d-sm-block d-xs-block">
    <h4 class="pb-3">Upgrades</h4>
    <!-- row -->
    <div class="row mb-3 ml-3">
      <div class="col-1 wsp-icon pb-3"></div>
      <div class="col"><small><a href="{{site.url}}/website/DIWM-Website">DIWM Website</a></small></div>
    </div>
    <!-- end row -->
    <hr />
    <h4 class="pb-3">Gallery</h4>
    <!-- row -->
    <div class="row mb-3">
      <div class="col">
        <a href="{{site.url}}/assets/images/website/WP-img-1.jpg"><img src="{{site.url}}/assets/images/website/PV-img-1.png"></a>
      </div>
      <div class="col">
        <a href="{{site.url}}/assets/images/website/WP-img-2.jpg"><img src="{{site.url}}/assets/images/website/PV-img-2.png"></a>
      </div>
    </div>
    <!-- end row -->
    <!-- row -->
    <div class="row mb-3">
      <div class="col">
        <a href="{{site.url}}/assets/images/website/WP-img-3.jpg"><img src="{{site.url}}/assets/images/website/PV-img-3.png"></a>
      </div>
      <div class="col">
        <a href="{{site.url}}/assets/images/website/WP-img-3.jpg"><img src="{{site.url}}/assets/images/website/PV-img-4.png"></a>
      </div>
    </div>
    <!-- end row -->
    <!-- row -->
   <div class="row mb-3">
      <div class="col">
        <a href="{{site.url}}/assets/images/website/WP-img-3.jpg"><img src="{{site.url}}/assets/images/website/PV-img-5.png"></a>
      </div>
      <div class="col">
        <a href="{{site.url}}/assets/images/website/WP-img-3.jpg"><img src="{{site.url}}/assets/images/website/PV-img-6.png"></a>
      </div>
    </div>
    <!-- end row -->
  </div>
</div>
