<div class="resp-container">
  <div class="fb-post resp-iframe" data-href="https://www.facebook.com/kaffeinatedkodemonkey/posts/2124865281115888" data-width="447" data-show-text="true"><blockquote cite="https://www.facebook.com/kaffeinatedkodemonkey/posts/2124865281115888" class="fb-xfbml-parse-ignore">
    <p>Weekly topics:
    Monday - Security
    Tuesday - Small Business Tips &amp; Tricks
    Wednesday - The World of SEO
    Thursday - Tech Awareness
    Friday - Q &amp; A: Ask The Expert</p>
    Posted by <a href="https://www.facebook.com/kaffeinatedkodemonkey/">Kaffeinated Kodemonkey</a> on&nbsp;<a href="https://www.facebook.com/kaffeinatedkodemonkey/posts/2124865281115888">Thursday, September 6, 2018</a></blockquote>
  </div>
</div>
