<div class="container">
  <div class="row mt-3 mb-3">
    <div class="col-12">
      <h2 class="text-center text-uppercase">Featuered Products & Services</h2>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-4 mt-5">
      <a href="https://vpat-compliant.com/">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{site.url}}/assets/images/homepage/VPAT-Certification.png" alt="VPAT Certification">
          <div class="card-body">
            <p class="card-text text-center">$1495 One-time</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-8">
      <h3>VPAT Certification</h3>
      <p>Our Accessibiltiy Experts understand <a href="https://vpat-compliant.com/508"><strong><em>Section 508 & WCAG</em></strong></a> requirments and will work with you to
      make your website comliant. Once you meet the requirments we will issue you our <a href="https://vpat-compliant.com/VPAT"><strong><em>VPAT Certification</em></strong></a>.</p>

      <p><span class="text-upercase">Wait</span> we don't stop there. We offer <a href="https://vpat-compliant.com/Monitoring"><strong><em>Accessibiltiy Monitoring</em></strong></a>
      so that you can continue to updat your site worry free and we will send you monthly Compliance Reports so you can
      keep your Certification current.</p>

      <p class="text-right"><a href="https://kaffeinatedkodemonkey.youcanbook.me/" class="btn btn-lg btn-warning" role="button">Book Free Consultation</a>
    </div>
  </div>
</div>
