    <section id="footer-menu" class="sections footer-menu" role="contentinfo">
      <div class="container-fluid p-5">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col-4 mt-5">
                <p><strong>Kaffeinated Kodemonkey</strong></p>
                <p>Striving to make websites <br />Accessibilty to everyone.</p>

                <div class="row">
                  <div class="col">
                    Rangley, CO 81948 <br />
                    <span class="force-read-before" data-attributetitleof="id-hatemile-display-9707572202">
                    <abbr id="id-hatemile-display-9707572202" title="Phone">P:</abbr> (970) 757-2222</span>
                  </div>

                  <div class="col-5">
                    <a href="/" title="Take me home"><img src="{{site.url}}/assets/images/logo.png" style="width: 50%;" alt="Kaffeinated Kodemonkey Logo" /></a>
                    <img src="{{site.url}}/assets/images/badge_partneragency.gif" alt="OnlineADA" class="img-fluid" style="width: 45%; height: auto;">
                  </div>
                </div>
              </div>
              <div class="col">
                <h3 class="mb-3 contact">Contact Our Accessibilty Development Team</h3>

                <form accept-charset="UTF-8" action="https://formspree.io/admin@kaffeinatedkodemonkey.com" method="POST">
                  <div class="form-group">
                    <label class="sr-only" for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Full Name" required="">
                  </div>

                  <div class="form-group">
                    <label class="sr-only" for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required="">
                  </div>


                  <div class="form-group">
                    <label class="sr-only" for="message">Message:</label>
                    <textarea class="form-control" id="message" name="message" rows="8" placeholder="Message"></textarea>
                  </div>

                  <div class="center-content">
                    <input type="submit" value="Submit" class="btn btn-md btn-primary">
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="col mt-4 ml-3">
            <div class="row">
              <div class="col-5 pl-5">
                <h4 class="text-dark">Accessibilty Design</h4>
                <ul>
                  <li><a href="{{site.url}}/Website-Services/Presences"><href="">Website Design</a></a></li>
                  <li><a href="{{site.url}}/Website-Services/Maintenance">Website Management</a></li>
                </ul>
                <h4 class="text-dark">Marking</h4>
                <ul>
                  <li><a href="{{site.url}}/Marketing/Local-Listings">Local Listings</a></li>
                  <li><a href="{{site.url}}/Marketing/SEO">SEO Marking</a></li>
                </ul>
              </div>
                <div class="col">
                  <h4 class="text-dark">Web Accessibilty</h4>
                  <ul>
                    <li><a href="{{site.url}}/Web-Accessibility/ADA-Compliance">ADA Compliance</a></li>
                    <li><a href="{{site.url}}/Web-Accessibility/ADA-Certification">ADA Certification</a></li>
                  </ul>
                  <h4 class="text-dark">Other</h4>
                  <ul>
                    <li><a href="{{site.url}}News/Press-Release">Press Release</a></li>
                    <li><a href="{{site.url}}/Clients">Potfolio</a></li>
                    <li><a href="{{site.url}}/Blog">Blog</a></li>
                    <li><a href="{{site.url}}/about">About</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
