<div class="row">
  <div class="col-sm-12">
    <p class="text-center">Ph: <a href="tel:{{site.phone}}" title="Call Kaffeianted Kodemonkey">{{site.phone}}</a> -
      E: <a href="mailto:admin@kaffeintedkodemonkey.com" title="Kodemonkey Email">The Kodemonkey</a> | Northwestern Colorado & Uintah Basien | Locally Owned Since 2014 |
    <a href="{{baseurl}}/MyWebsiteTermsofUse.pdf" title="Download - Terms of Service">Terms of Service (PDF) - <a href="{{baseurl}}//MyOnlinePrivacyPolicy" title="Download - Privacy Policy">Privacy Policy (PDF)</a></p>
  </div>
</div>
