    <section id="footer-menu" class="sections footer-menu" role="contentinfo">
      <div class="container-fluid pl-5 pr-5">
        <div class="row text-center">
          <div class="col-12">
            <p><a href="/" title="Take me home"><img src="https://www.kaffeinatedkodemonkey.com/assets/images/logo.png" style="width: 5%;" alt="Kaffeinated Kodemonkey Logo" /></a>
            <img src="https://www.kaffeinatedkodemonkey.com/assets/images/badge_partneragency.gif" alt="OnlineADA" class="img-fluid" style="width: 5%; height: auto;"></p>

            <h3><strong>Kaffeinated Kodemonkey</strong></h3>
            <p>Striving to make websites Accessibilty to everyone.</p>

            <p>Rangely, Co | <span class="force-read-before" data-attributetitleof="id-hatemile-display-9707572202">
            <abbr id="id-hatemile-display-9707572202" title="Phone">P:</abbr> (970) 757-2222</span></p>
          </div>
        </div>

        <hr />

        <div class="row">
          <div class="col-md-4 col-sm-6">
            <h3 class="mb-3 contact">Contact Our Accessibilty Development Team</h3>

            <form action="https://formspree.io/f/mrgopqob" method="POST" class="mb-">
              <div class="form-group">
                <label class="sr-only" for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Full Name" required="">
              </div>

              <div class="form-group">
                <label class="sr-only" for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required="">
              </div>


              <div class="form-group">
                <label class="sr-only" for="message">Message:</label>
                <textarea class="form-control" id="message" name="message" rows="8" placeholder="Message"></textarea>
              </div>

              <div class="center-content">
                <input type="submit" value="Submit" class="btn btn-md btn-primary">
              </div>
            </form>
          </div>
          <div class="col-md-8 col-sm-6">
            <h3>Site Map</h3>
            <div class="row">
              <div class="col-md-3 mb-3">
                <h4 class="text-dark">Accessibilty Design</h4>
                <p><a href="{{site.url}}/Website-Services/Presences">Website Design</a></p>
                <p><a href="{{site.url}}/Website-Services/Maintenance">Website Management</a></p>
              </div>
              <div class="col-md-3 mb-3">
                <h4 class="text-dark">Marking</h4>
                <p><a href="{{site.url}}/Marketing/Local-Listings">Local Listings</a></p>
                <p><a href="{{site.url}}/Marketing/SEO">SEO Marking</a></p>
              </div>

              <div class="col-md-3 mb-3">
                <h4 class="text-dark">Web Accessibilty</h4>
                <p><a href="{{site.url}}/Web-Accessibility/ADA-Compliance">ADA Compliance</a></p>
                <p><a href="{{site.url}}/Web-Accessibility/ADA-Certification">ADA Certification</a></p>
              </div>
              <div class="col-md-3 mb-3">
                <h4 class="text-dark">Other</h4>
                <p><a href="{{site.url}}/press-release">Press Release</a></p>
                <p><a href="{{site.url}}/Clients">Potfolio</a></p>
                <p><a href="{{site.url}}/Blog">Blog</a></p>
                <p><a href="{{site.url}}/about">About</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
