
<!--Home page style-->
<header id="home">
  <!-- <div class="overlay-fluid-block"> -->
    <div class="container-fluid">
      <div class="row shadow-sm p-3 mb-5 bg-white rounded">
        <!-- <div class="home-wrapper"> -->
          <div class="col-6 mt-3">
            <img src="{{site.url}}/assets/images/responsive-design-ss-1.jpg" class="rounded">
          </div>
          <div class="col-6 mt-4 pt-5">
            <h1 class="home-content text-center text-dark">Building <span class="text-burgandy"><em><u>POUR</u></em></span> Websites</h1>
            <h2 class="home-content text-center text-dark">That are accessible on any devise for any technology!</h2>
            <ul class="pour">
              <li><strong><span class="text-burgandy">P</span>erceivable</strong> - Users must be able to perceive the information being presented</li>
              <li><strong><span class="text-burgandy">O</span>perable</strong> - Users must be able to operate the interface easily</li>
              <li><strong><span class="text-burgandy">U</span>nderstandable</strong> - Users must be able to understand the user interface</li>
              <li><strong><span class="text-burgandy">R</span>obust</strong> - Users must be able to access the content as technologies advance</li>
            </ul>

            <p class="text-center text-dark"><strong>Our goal is to make all websites accessible to everyone.</strong></p>
            <!-- <h2 class="subtitle text-center"><span class="text-burgandy">Experts in VPAT Documentation<br/>and Accessibility Driven Development</strong></h2> -->

            <div class="row">
              <div class="col-2 offset-3">
                <div class="home-contact">
                  <a href="https://kaffeinatedkodemonkey.youcanbook.me/" class="btn btn-lg btn-info">Talk to an Accessibility Expert TODAY!</a>
                </div>
              </div>
            </div>
          </div>
        <!-- </div> -->
      </div>
    </div>
  <!-- </div> -->
</header>
