<head>

  <html lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Helping Rural Communities & Local Government build a successful Web Presence through website design, reputation management, social marketing & SEO. Let us build, buy, grow, & live local. ">
    <meta name="keywords" content="website, design, development, seo, search engine listing,web presence, reputation management, northwestern, grand junction, denver, rural, rangely, meeker, craig, rifle, colorado,">
    <meta name="author" content="">

    <title>{{ site.title }}</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{baseurl}}/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{baseurl}}/font-awesome/css/font-awesome.min.css" type="text/css">
    <link href="{{baseurl}}/css/heroic-features.css" rel="stylesheet">
    <!-- G+ publisher -->
    <link href="https://plus.google.com/u/0/+KaffeinatedKodemonkey-Profile" rel="publisher" />

    <link rel="shortcut icon" href="{{baseurl}}/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{baseurl}}/img/favicon.ico" type="image/x-icon">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{baseurl}}/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{baseurl}}/css/main.css" type="text/css">

    <!-- Iframe Resizer -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.14/iframeResizer.contentWindow.js">

    <!-- You can Book me -->
    <script src="https://youcanbook.me/resources/scripts/ycbm.modal.js"></script>
    <link rel="stylesheet" href="https://youcanbook.me/resources/css/simplemodal/simplemodal.css" type="text/css"/>

    {% include analyticstracking.js %}
    {% include mobile.js %}

    <!-- Hotjar Tracking Code for http://www.kaffeinatedkodemonkey.com/ -->
    <!-- Hotjar Tracking Code for http://www.kaffeinatedkodemonkey.com/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:629003,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</head>
