<head>

  <!-- This code is placed between <head> tags of your full website or any page that you would like redirected to your mobile site when accessed through a mobile device. -->
  <script type="text/javascript" src="http://listing.kaffeinatedkodemonkey.com/static/js/redirect-script.js"></script>
  <script type="text/javascript">mobileRedirect("http://listing.kaffeinatedkodemonkey.com/kaffeinated-kodemonkey/");</script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ site.title }}</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{baseurl}}/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{baseurl}}/font-awesome/css/font-awesome.min.css" type="text/css">
    <link href="{{baseurl}}/css/heroic-features.css" rel="stylesheet">

    <link rel="shortcut icon" href="{{baseurl}}/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{baseurl}}/img/favicon.ico" type="image/x-icon">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{baseurl}}/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{baseurl}}/css/main.css" type="text/css">

    {% include analyticstracking.js %}
    {% include mobile.js %}

</head>
