<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.meta-title %}{{ page.meta-title }}|{% elsif post.title %}{{post.title}}|{% endif %}{{site.title}} </title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% elsif post.description %}{{post.discretion}}{% else %}{{site.description}}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if {{site_category}} == "Accessibility Remidation" %}
  <meta name="robots" content="noindex">
  {% endif %}

  <link href= "{{ site.url }}/{{ page.permalink }}" rel="canonical">

  <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
  <!-- <link rel="shortcut icon" type="image/x-icon" href="{{site.url}}/assets/images/favicon.ico"> -->
  <!-- <link rel="stylesheet" href="{{site.url}}/assets/css/all.css"> -->

  <!-- FontAwsome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <!-- <link rel="stylesheet" href="{{site.url}}/assets/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!--Theme custom css -->
  <link rel="stylesheet" href="{{site.url}}/assets/css/style.css">
  <link rel="stylesheet" href="{{site.url}}/assets/css/custom.css">

  <!--Theme Responsive css-->
  <link rel="stylesheet" href="{{site.url}}/assets/css/responsive.css" />

  <!-- ADAOnline Toolbar -->
  <script>(function(s, o, g){a = s.createElement(o),m = s.getElementsByTagName(o)[0];a.src = g;a.setAttribute("async","");a.setAttribute("type","text/javascript");a.setAttribute("crossorigin","anonymous");m.parentNode.insertBefore(a, m)})(document, "script", "https://adatoolbar.com/wp-json/onlineada/v1/accessibility-toolbar/226f36187a4b9");</script>
  <!-- End ADAOnline Toolbar -->

  <!-- Google -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-46627745-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-46627745-2');
  </script>
</head>
