<div class="container-fluid">
  <div class="row shadow-sm p-3 mb-5 py-5 bg-white">
    <div class="col d-none d-lg-block">
      <img src="{{site.url}}/assets/images/homepage/kmbanner.png" class="ing-fluid rounded" alt="Built with Accessibiltiy in mind">
    </div>
    <div class="col pt-5">
      <!--<div class="row">
        <div class="col-md-8 offset-md-2 shadow-lg p-2 mb-3 bg-kkmblue text-white rounded text-center">
          <h2>Help Keep America Alive</h2>
          <p>Join our discussion on how we are <a href="{{site.url}}/press-release/Keep-Business-Alive.html" class="kal">Keeping Business Alive</a>.</p>
        </div>
      </div> -->

      <h1 class="home-content text-center text-dark mt-2">Will your site pass an ADA Compliance audit?</h1>
      <h2 class="home-content text-center text-dark">Are you looking for help with a VPAT document?</h2>

      <div class="row">
        <div class="col text-center mt-1">
          <div class="home-contact">
            <p><a href="https://kaffeinatedkodemonkey.youcanbook.me/" class="btn btn-lg btn-warning">Talk to an Accessibility Expert TODAY!</a></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
