
<div class="col d-none d-lg-block mt-3">
  <img src="{{site.url}}/assets/images/covid-19-image.png" class="ing-fluid img-thumbnail rounded" alt="Built with Accessibiltiy in mind">
</div>
<div class="col mt-5 pt-5">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <p class="c19 text-center text-danger"><strong>Has your business been effected by <a href="{{site.url}}/COVID-19">COVID-19?</a></strong></p>
      <hr />
    </div>
  </div>

  <h1 class="home-content text-center text-dark mt-2">Making business ADA compliant!</h1>
  <h2 class="home-content text-center text-dark">Through accessibility driven web design, <br />Certifications, and VPAT Documents.</h2>

  <div class="row">
    <div class="col-2 offset-3 mt-1">
      <div class="home-contact">
        <p><a href="https://kaffeinatedkodemonkey.youcanbook.me/" class="btn btn-lg btn-warning">Talk to an Accessibility Expert TODAY!</a></p>

      </div>
    </div>
  </div>



</div>
