<!-- header -->
{% include header.html %}

<!-- Welcome -->
<section id="welcome" class="welcome sections lightbg">
  <div class="container-fluid ml-5">
    <div class="row">
      <div class="col-md-2 d-none d-lg-block ml-5">
        <img src="{{ site.url }}/assets/images/KKM-Logo-Sticker-shadow.png" alt="Responsive Web Design built with accessibility in mind" />
      </div>
      <div class="col-md-6 col-sm-10 pt-4 pl-5 pr-5">
        <p>We specalize in  accessibility driven websites by following the WCAG principles.
        Through <strong><em><a href="{{stie.url}}/faq#collapseThree">POUR</a></em></strong> design we aim to meet requirements for
        <strong><a href="https://vpat-compliant.com/" target="_blank">WCAG, EU, & Section 508</a></strong>.</p>

        <p>If you are a go-getter and like to take charge when it comes to your business we can build the site and hand it over to your team or set it up and let your team take over. That is why we designed packages with tools to help you do just that.</p>
      </div>
      <div class="col-md-2 mr-3">
        {% include Snapshot-Widget.html %}
      </div>
    </div>
  </div>
</section>

<!-- <hr class="features" /> -->

<!-- Products Sections -->
{% include products-section.html %}

<!-- <hr class="features" /> -->

<!-- Testimonials -->
<section id="testimonials" class="testimonials sections lightbg mt-5">
  {% include testimonials.html %}
</section><!-- End of Testimonials Section -->

<hr class="features" />

<!-- Contsct Sections -->

<section id="contact" class="contact sections lightbg">
  {% include contact-section.html %}
</section><!-- End of Contact Section -->
