<!-- header -->
<!--Home page style-->
<header id="home">
  <div class="container-fluid">
    <div class="row shadow-sm p-3 mb-5 bg-white">
      {% include header.html %}
    </div>
  </div>
</header>

<!-- Welcome -->

<main id="welcome" class="sections">
  <div class="container-fluid ml-5">
    <!-- Alert Banner - COVID-19 -->
    <div class="row mb-5 mt-0">
      <div class="col-md-10 offset-md-1">
        <p class="c19 text-center text-danger"><strong>Has your business been effected by <a href="{{site.url}}/COVID-19">COVID-19?</a></strong></p>
      </div>
    </div>

    <!-- start main content -->
    <div class="row" id="content">
      <!-- col 1 - logo -->
      <div class="col-2">
        <img src="{{ site.url }}/assets/images/logo.png" class="img-fluid mb-5 ml-1" style="width: 70%; height: auto;" alt="Responsive Web Design built with accessibility in mind" />
      </div>

      <!-- col 2&3 - container --->
      <div class="col-9 mt-2">
        <div class="row">
          <div class="col-5">
            <h2  class="text-center">Building with Accessibility</h2>

            <p>At Kaffeinated Kodemonkey we understand what it takes to reach
            <span class="text-uppercase"><em><strong>every</strong></em></span> customer. Why settle for just okay?</p>


            <p>With a platform developed for accessibility your site can adapt to all customers and rise above the competition.<p>
          </div>
          <div class="col-7">
            <h2 class="text-center mr-5">Through <span class="text-uppercase"><strong><em>pour</em></strong></span> Principles</h2>

            <div class="col ml-7">
              <ul class="pour">
                <li><strong><span class="text-burgandy">P</span>erceivable</strong> - Users must be able to perceive the information being presented</li>
                <li><strong><span class="text-burgandy">O</span>perable</strong> - Users must be able to operate the interface easily</li>
                <li><strong><span class="text-burgandy">U</span>nderstandable</strong> - Users must be able to understand the user interface</li>
                <li><strong><span class="text-burgandy">R</span>obust</strong> - Users must be able to access the content as technologies advance</li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</main>

<!-- <hr class="features" /> -->

<!-- Products Sections -->
<section id="products" class="sections shadow-lg p-3 mb-5 bg-white" aria-label="Products & Services">
  <div class="container">
    {% include products-section.html %}
  </div>
</section>

<!-- <hr class="features" /> -->

<!-- Testimonials -->
<section id="testimonials" class="sections" aria-label="Testimonials">
  {% include testimonials.html %}
</section><!-- End of Testimonials Section -->

<!-- Contsct Sections -->
<section id="contact" class="sections shadow-lg p-3 mb-5 bg-white" role="form" aria-labelledby="contact">
  {% include contact-section.html %}
</section><!-- End of Contact Section -->
