<!-- header -->
{% include header.html %}

<!-- Feature Sections -->
<hr class="header" />
<section id="feature" class="feature sections lightbg">
  {% include featured-section.html %}
</section>

<!-- Products Sections -->
<hr class="features" />
<section id="products" class="products sections lightbg">
  {% include products-section.html %}
</section>

<!-- Contsct Sections -->
<hr class="features"/>
<section id="contact" class="contact sections lightbg">
  {% include contact-section.html %}
</section><!-- End of Contact Section -->
