<div class="row">
  <div class="col-8">
    <p>Listing Builder empowers your agency to start the conversation about digital solutions with local businesses. For no additional cost, you can introduce hundreds of business owners to online presence management and your digital marketing platform. And once your clients are ready to buy, Listing Pro and Local Listings are natural upsells that maximize revenue.</p>

    <ul class="fa-ul">
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Listing Sync: Quickly establish accurate business listinlb on dozens of reputable sites. Plus, sync to Google My Business, Facebook, and Twitter for no additional charge.</li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Local Listings: Build accurate business listings on the four major data aggregators—Acxiom, Factual, Infogroup, and Neustar Localeze. </li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>My Listing: Create a mobile-responsive business listing that is optimized for local searches.</li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Google Insights: Google Insights in Listing Builder gives your clients a valuable glimpse of their customer activity, including how customers find their listing and what customers do with their listing. </li>
    </ul>

  </div>

  <!-- Gallery -->
  <div class="col-4">
    <h4>Gallery</h4>
    <!-- row -->
    <div class="row mb-3">
      <div class="col">
        <a href="{{site.url}}/assets/images/ListingPro/listing-builder-img1.png"><img src="{{site.url}}/assets/images/ListingPro/listing-builder-img1.png"></a>
      </div>
      <div class="col">
        <a href="{{site.url}}/assets/images/ListingPro/listing-builder-img2.png"><img src="{{site.url}}/assets/images/ListingPro/listing-builder-img2.png"></a>
      </div>
    </div>
    <!-- end row -->
    <!-- row -->
    <div class="row mb-3">
      <div class="col">
        <a href="{{site.url}}/assets/images/ListingPro/listing-builder-img3.png"><img src="{{site.url}}/assets/images/ListingPro/listing-builder-img3.png"></a>
      </div>
      <div class="col">
        <a href="{{site.url}}/assets/images/ListingPro/listing-builder-img4.png"><img src="{{site.url}}/assets/images/ListingPro/listing-builder-img4.png"></a>
      </div>
    </div>
    <!-- end row -->
    <!-- row -->
    <div class="row mb-3">
      <div class="col">
        <a href="{{site.url}}/assets/images/ListingPro/listing-builder-img5.png"><img src="{{site.url}}/assets/images/ListingPro/listing-builder-img5.png"></a>
      </div>
      <div class="col">
        <a href="{{site.url}}/assets/images/ListingPro/listing-builder-img6.png"><img src="{{site.url}}/assets/images/ListingPro/listing-builder-img6.png"></a>
      </div>
    </div>
    <!-- end row -->

  </div>
</div>
