<section id="lead">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-8">
        <h1>Our passion is helping Rural communities!</h1>

        <p>Teaching business owners the importance of a web presence and removing the frustration creating an online business.</p>

        <p>We are here to see you succeed. In doing so, our clients will receive tips and pointer in the client dashboard on how to stay successful. We also make our selves available during business hours for questions.</p>


        <div class="video-container">
          <iframe allowtransparency="true" frameborder="0" scrolling="no" name="ruralstore" id="rs" src="https://fast.wistia.com/embed/iframe/i1oljg1hh4" ></iframe>
        </div>
      </div>
      <div class="col-sm-offset-1 col-sm-2">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <img src="{{base.url}}/img/Code_Monkey.jpg" alt="Kodemonkey" class="img-responsive img-thumbnail" width="150px" >
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-12">
              <h3>Business Hours</h3>
              <p>Mon-Fri 9:00 am - 4:00 pm</p>
              <p>Holidays & Weekends by<br />
               Appointment Only</p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-12">
              <h3>Contact Us!</h3>
              <p>Phone: <a href="tel=720-608-1444">720-608-1444</a></p>
              <p>Email: <a href="mailto:clients@kaffeinatedkodemonkey.com" title="Email Us">The Kodemonkey</a>
              </p>
            </div>
          </div>
      </div>
    </div>
    <br/><br/>
  </div>
</section>
<br />
