<section id="lead">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-7">
        <h1 class="text-center">Our passion is helping Rural Business Grow!</h1>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-offset-1 col-md-8">
        <div class="video-container">
          <!-- Jan Business owner -->
          <!--<iframe allowtransparency="true" frameborder="0" scrolling="no" name="ruralstore" id="rs" src="https://fast.wistia.com/embed/iframe/i1oljg1hh4" ></iframe>-->

          <!-- Listng Score -->
          <!--<iframe allowtransparency="true" frameborder="0" scrolling="no" name="wistia_embed" src="https://fast.wistia.com/embed/iframe/ed8ieoc949" width="480" height="317"></iframe>-->

          <!-- Platfor Advertisement -->
          <!-- <iframe allowtransparency="true" frameborder="0" scrolling="no" name="wistia_embed" src="https://fast.wistia.com/embed/iframe/w5dd2qnpi7" width="480" height="317"></iframe> -->

          <!-- My Listing -->
          <!-- <iframe allowtransparency="true" frameborder="0" scrolling="no" name="wistia_embed" src="https://fast.wistia.com/embed/iframe/2ni76p6v3t"></iframe> -->

          <!-- Listing Sync -->
          <iframe allowtransparency="true" frameborder="0" scrolling="no" name="wistia_embed" src="https://fast.wistia.com/embed/iframe/ztivj2pkwn"></iframe>
        </div>
      </div>
      <div class="col-sm-3">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <img src="{{base.url}}/img/Code_Monkey.jpg" alt="Kodemonkey" class="img-responsive img-thumbnail" width="150px" >
            </div>
          </div>


          <div class="row">
            <div class="col-sm-12 col-md-12">
              <h3>Business Hours</h3>
              <p>Mon-Fri 9:00 am - 4:00 pm</p>
              <p>Holidays & Weekends by<br />
               Appointment Only</p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-12">
              <h3>Contact Us!</h3>
              <p>Phone: <a href="tel=720-608-1444">720-608-1444</a></p>
              <p>Email: <a href="mailto:clients@kaffeinatedkodemonkey.com" title="Email Us">The Kodemonkey</a>
              </p>
            </div>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-7">
        <h2 class="text-center">We maket it easy to build and grow your web presence!</h2>
      </div>
    </div>
  </div>
</section>
