<section id="lead">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
          <img src="{{ site.url}}/img/SmallTownUSA.jpg" alt="Small Town USA" class="img-responsive">
      </div>
      <div class="col-sm-8">
        <br />
        <div class="well">
          <ul class="lead">
            <li>Looking to build a website or rejuvenate a current site?</li>
            <li>Wish you had more appointments or customers through our doors?</li>
            <li>Tired of the high cost from big city companies that sell you more than you need?</li>
            <li>What about web builders, SEO, Social Marketing or whatever all that confusing stuff is?</li>
            <li>Wish you had someone that could just do it for you or help you when you are swamped?</li>
          </ul>
        </div>
        <h2 class="section-heading">Let's Build your Web Presence together!</h2>

        <p>You will never pay for more than you need. Our packages are desiged to help you succeed.</p>

        <p>Our passion is the Rural community and small business. Our packages are desiged to help you grow. Just add-on any service
        to an existing website or one of our developers can help you create a custom package with your needs in mind.</p>

        <p>kaffeinated Kodemonkey is here to see you succeed. In doing so all our clients will recive the Kodemonkey's Newsletter filled with
        how-tos, monthly blg topic, product information, and steps to help you be successful with your web presence.</p>
      </div>
    </div>
  </div>
</section>
