<div class="row">
  <div class="col-8">
    <h3>Get found. Generate traffic. Grow revenue.</h3>
    <p>Establish accurate business listings and appear in more places across the web. Packed with three powerful presence management tools—Listing Sync, Listing Distribution and My Listing—this is the most comprehensive business listing solution on the market.</p>

    <div class="embed-responsive embed-responsive-16by9 mt-3 mb-3">
      <iframe class="embed-responsive-item" src="https://storage.googleapis.com/mediarepo-prod/marketplace-products/09d5dd20-67d5-4fcf-87e1-98ced40c5912/Unbranded%20marketing%20video.mp4" allowfullscreen></iframe>
    </div>

    <ul class="fa-ul">
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Listing Sync: Quickly establish accurate business listings on dozens of reputable sites. Plus, sync to Google My Business, Facebook, and Twitter for no additional charge. </li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Listing Distribution: Build accurate business listings on the four major data aggregators—Factual, Acxiom, Infogroup, and Neustar Localeze. These aggregators are referenced by over 300 websites.</li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>My Listing: Create a mobile-responsive business listing that is optimized for local search. </li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Google Insights: Understand how your business is performing on Google Search and Maps. Google Insights in Listing Builder provides a valuable glimpse into your customer's activities.</li>
    </ul>

    <h3 class="text-uppercase">FAQ</h3>

    <div class="accordion" id="LocalListings">
      <div class="card">
        <div class="card-header" id="LL-headingOne">
          <a href="#" class="collapsed"  data-toggle="collapse" data-target="#LL-collapseOne" aria-expanded="true" aria-controls="LL-collapseOne">
            Why is a strong presence important for a local business like me?
          </a>
        </div>

        <div id="LL-collapseOne" class="collapse" aria-labelledby="LL-headingOne" data-parent="#LocalListings">
          <div class="card-body">
            A strong online presence is the first step toward success. Your customers and prospects need to be able to find you, both online and in the street. Ask yourself this, when was the last time you went out to eat at a new restaurant or planned to go see a new movie and did not look it up online first? Chances are, you did some research beforehand and it's extremely likely that your customers are doing the same. When customers and prospects look you up online, make sure they can find you and that the information they come across is correct.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="LL-headingTwo">

            <a href="#"  class="collapsed"  data-toggle="collapse" data-target="#LL-collapseTwo" aria-expanded="false" aria-controls="LL-collapseTwo">
              Why is it important for a local business like me to have a mobile optimized listing?
            </a>

        </div>
        <div id="LL-collapseTwo" class="collapse" aria-labelledby="LL-headingTwo" data-parent="#LocalListings">
          <div class="card-body">
            For SEO, priority is given to good customer experience on mobile devices. Consumers will use mobile devices to find desired goods or services and will generally begin these searches with a category or brand search. For example, a brand search is “Joe’s Pizza in Denver” and a category search is “Pizza in Denver”. (Note: On a mobile device the “in Denver” often does not need to be explicit.) In the case of a category search, the user has intent to purchase something in a category but has not decided or does not care about the brand. In these searches, the user’s intent is generally heavily skewed toward proximity and location. So search engines generally deliver the closest locations and it is therefore important that location information is crawlable, is displayed on each page, and is in meta-data and keywords.
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-4 d-sm-block d-xs-block">
    <!-- Add-Ons -->
    {% unless page.title contains "Basic" or page.title contains "Advance" or page.title == "Listing Presence" %}
    <h4 class="pb-3">Upgrades</h4>

    <!-- row -->
      <div class="row mb-3 ml-3">
      <div class="col-1 lsp-icon pb-3"></div>
      <div class="col"><small><a href="{{site.url}}/marketing/Listing-Presence">Listing Presence</a></small></div>
    </div>
    <!-- end row -->
    <hr />
    {% endunless %}
    <h4 class="pb-3">Gallery</h4>
    <!-- row -->
    <div class="row mb-3">
      <div class="col">
        <a href="{{site.url}}/assets/images/website/LL-img-1.jpg"><img src="{{site.url}}/assets/images/website/LL-img-1.jpg"></a>
      </div>
    </div>
    <!-- end row -->
    <!-- row -->
    <div class="row mb-3">
      <div class="col">
        <a href="{{site.url}}/assets/images/website/LL-img-2.jpg"><img src="{{site.url}}/assets/images/website/LL-img-2.jpg"></a>
      </div>
      <div class="col">
        <a href="{{site.url}}/assets/images/website/LL-img-3.jpg"><img src="{{site.url}}/assets/images/website/LL-img-3.jpg"></a>
      </div>
    </div>
    <!-- end row -->
    <!-- row -->
    <div class="row mb-3">
      <div class="col">
        <a href="{{site.url}}/assets/images/website/LL-img-4.jpg"><img src="{{site.url}}/assets/images/website/LL-img-4.jpg"></a>
      </div>
      <div class="col">
        <a href="{{site.url}}/assets/images/website/LL-img-5.jpg"><img src="{{site.url}}/assets/images/website/LL-img-5.jpg"></a>
      </div>
    </div>
    <!-- end row -->
    <!-- row -->
    <div class="row mb-3">
      <div class="col mt-3">
        <h4>Files</h4>
        <p><a href="https://storage.googleapis.com/mediarepo-prod/marketplace-products/44c57699-5ff4-4038-a505-b7ded4167261/Read%20this%20brochure.pdf" target="_blank"><span class="mr-3"><i class="fas fa-file-pdf"></i></span>Read this brochure</a></p>

      </div>
    </div>
    <!-- end row -->

  </div>
</div>
