<div class="row">
  <div class="col-8">
    <p><strong>Ensure your listings are present, accurate, and protected from unwanted changes.</strong></p>

    <p>Listing Pro gives you a single dashboard to control how your business appears across the internet. With the click of a button,
    you can instantly create and update listings across an established network of sites. Better yet, it keeps your information
    protected from third-party changes — putting you in control of your online brand.</p>

    <p><strong>Get your business found on search engines, social networks, mobile apps, navigation systems, and more with Listing Pro!</strong></p>

    <ul class="fa-ul">
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Create and fix listings with the click of a button -
      Get your business found on an established network of search engines, social networks, business directories and navigation
      systems. With plenty of accurate listings, you'll make it easier for customers to find your business online, and boost your
      local search ranking.</li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Make updates in real-time - Holiday hours, address changes,
      new payment methods. Whatever the reason for your update, you can instantly push these changes to all of your listings from a
      single dashboard—so your customers will always find the most up-to-date information. </li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Protect your listings from unwanted changes - Automatically
      re-establish accurate information when a change has been made to your listing. Protect your data from changes by competitors,
      data aggregators, and other third parties.</li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Showcase your brand - Entice customers with photos.
      Highlight your products and services. Offer more information like hours of operation and payment methods. Enhance your
      listings with additional content that makes customers more likely to buy—and sets you apart from the competition. </li>
    </ul>

  </div>
  <div class="col-4 d-sm-block d-xs-block">
    {% unless page.title contains "Advance" or page.title == "Listing Presence" %}
    <!-- Add-Ons -->
    <h4 class="pb-3">Upgrades</h4>

    <!-- row -->
    <div class="row mb-3 ml-3">
      <div class="col-1 lsp-icon pb-3"></div>
      <div class="col"><small><a href="{{site.url}}/marketing/Listing-Presence">Listing Presence</a></small></div>
    </div>
    <!-- end row -->
    {% endunless %}
  </div>


</div>
