<aside class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-lg-8 col-lg-offset-2 text-center">
                <h2>Contact Me today!</h2>
                <br />

                <p class="text-center">Ph: <a href="tel:{{site.phone}}" title="Call Kaffeianted Kodemonkey">{{site.phone}}</a> -
                  E: <a href="mailto:admin@kaffeintedkodemonkey.com" title="Kodemonkey Email">The Kodemonkey</a> | Northwestern Colorado & Uintah Basien | Locally Owned Since 2014</p>
            </div>
        </div>
    </div>
</aside>
