
<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" title="{{ site.title }}"><span class="visible-md-inline visible-lg-inline"><img src="{{base.url}}/img/Code_Monkey_icon.jpg" class="img-circle">&nbsp;{{ site.title }}</span>
            <span class="visible-xs-inline visible-sm-inline">Kaffeinated <br />Kodemonkey</span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/" title="{{ site.title }}">Home</a></li>
            <!-- <li><a href="{{baseurl}}/accessibility" title="{{ site.title }}">Accessibility</a></li> -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Web packages and more">Services<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a  href="{{baseurl}}/Web-Presence" title="Our Design Services">Web Presence &nbsp;<i class="fa fa-github-alt"></i></a></li>
                <!--<li><a  href="{{baseurl}}/local-listing" title="Search Engine Listings">Local Listing</a></li>-->
                <li><a  href="{{baseurl}}/additional-products" title="Add-Ons">Additional Products &nbsp;<i class="fa fa-plus"></i></a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Gallery">Portfolio<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a  href="{{baseurl}}/rural_portfolio" title="Portfolio of Rural">Rural Business &nbsp;<i class="fa fa-building"></i></a></li>
                <li><a  href="{{baseurl}}/gov_portfolio" title="Portfolio of Government">Local Government &nbsp;<i class="fa fa-university"></i></a></li>
              </ul>
            </li>

            <li><a  href="{{baseurl}}/testimonials" title="What Clients are saying">Ata Girl</a></li>
            <li><a  href="{{baseurl}}/sponsors" title="Sponsorships">Sponsors</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Get to know us">Meet Us<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{baseurl}}/about-us" title="About Us">About &nbsp;<i class="fa fa-user"></i></a></li>
                <li><a href="http://listing.kaffeinatedkodemonkey.com/directory" title="Directory Client">Client Directory &nbsp;<i class="fa fa-th-list"></i></a></li>
                <li><a href="{{baseurl}}/events" title="Current Events">Events &nbsp;<i class="fa fa-calendar"></i></a></li>
                <li><a href="{{baseurl}}/email" title="Content Us">Contact &nbsp;<i class="fa fa-phone"></i></a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav pull-right">
            <li><a href="https://kaffeinatedkodemonkey.smblogin.com" title="Client Center Login" target="blank"><i class="fa fa-dashboard"></i>&nbsp;Client Center </a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
