<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #013b56;">
  <a class="navbar-brand mt-0 ml-1" href="/" title="Kodemonkeky" id="logo">kaffeinated kodemonkey</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="ml-auto d-flex justify-content-end">
    <div class="collapse navbar-collapse mr-5" id="navbarNavDropdown">
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{site.url}}/Website-Services/Presences#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Websites</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{site.url}}/Website-Services/Presences">Web Presence</a>
            <a class="dropdown-item" href="{{site.url}}/Website-Services/Maintenance">Website Management</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Marketing
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{site.url}}/Marketing/Local-Listings">Local Listings</a>
            <a class="dropdown-item" href="{{site.url}}/Marketing/SEO">SEO</a>
          </div>
        </li>
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle" href="#" target="_blank" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Web Accessibility
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="https://vpat-compliant.com/ADA-Certification" target="_blank">ADA Certification</a>
            <a class="dropdown-item" href="https://vpat-compliant.com/VPAT" target="_blank">VPAT Documentation</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.url}}/blog" title="Tips & Tricks">Blog</a>
        </li>
        <!-- <li class="nav-item">
        <a class="nav-link" href="{{site.url}}/Testimonials">At-a-Girl</a>
      </li> -->
        <li class="nav-item">
          <a class="nav-link" href="{{site.url}}/about">About</a
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.url}}/Contact-Us">Contact</a>
        </li>
      </ul>
    </div>
</nav>
