<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" title="Kodemonkeky" id="logo">kaffeinated kodemonkey</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="{{site.url}}/index">Home</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Website Pakages">Websites <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="text-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Basic Packages</strong></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{site.url}}/Website/Decaf-Microsite" title="Starter site">Decaf</a></li>
                    <li><a href="{{site.url}}/Website/House-Blend-5page-Basic-Website" title="5 Page Website">House-Blend</a></li>
                    <li><a href="{{site.url}}/Website/Espresso-Advanced-Website" title="Advanced site, E-Commerce or Storefront">Espresso</a></li>

                    <li role="separator" class="divider"></li>
                    <li class="text-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Specialty Packages</strong></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{site.url}}/Website/Chai-Latte-Custom-Build" title="Custom Develope Website">Chai Latte</a></li>
                    <li><a href="{{site.url}}/Website/Americano-Government-Website" title="Government & Municipality websites">Americano</a></li>
                    <!-- <li><a href="{{site.url}}/Website/Web-Accessibility" title="Web Accessibility - ADA/508 Compliance">Web Accessibility</a></li> -->

                    <li role="separator" class="divider"></li>
                    <li class="text-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Support</strong></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{site.url}}/Website/Website-Support" title="Webite Support Services">Website Support </a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Marketing Pakages">Marketing <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="text-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Packages</strong></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{site.url}}/Marketing/LightRoast" title="Submite your site to search engines & directories">Light Roast</a></li>
                    <li><a href="{{site.url}}/Marketing/MediumRoast" title="Social Media Marketing">Medium Roast</a></li>
                    <li><a href="{{site.url}}/Marketing/DarkRoast" title="Complete Marketing Package">Dark Roast</a></li>

                    <li role="separator" class="divider"></li>
                    <li class="text-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>A la Carte</strong></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{site.url}}/Marketing/ReputationManagement" title="Build, monitor, and manage your online reputation">Reputation Management</a></li>
                    <li><a href="{{site.url}}/Marketing/SEO-Network" title="Increasing website rankings with onsit and offsite SEO">SEO Network</a></li>
                    <li><a href="{{site.url}}/Marketing/SimplySocialShare" title="Promote your brand for a month">Simply Social Share</a></li>
                    <li><a href="{{site.url}}/Marketing/SocialMarketing" title="One place to stay social">Social Marketing</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Branding Pakages">Branding <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="text-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>A la Carte</strong></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{site.url}}/Branding/LogoDesign" title="Original logo design">Logo Design</a></li>
                    <li><a href="{{site.url}}/Branding/BusinessCards" title="Custom designed business cards">Business Cards</a></li>
                    <li><a href="{{site.url}}/Branding/CorporateIdentity" title="All in one packaged for your business">Corporate Identity</a></li>
                  </ul>
                </li>
                <li><a href="{{site.url}}/Testimonials">At-a-Girl</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="About kaffeinated Kodemonkey">About <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{site.url}}/about" title="Kodemonkey">Who is the Kodemonkey</a></li>
                    <li><a href="{{site.url}}/KodemonkeyClub/CodingClub" title="codeing clubs">Kodemonkey Club</a></li>
                    <li><a href="{{site.url}}/Blog" title="Tips & Tricks">Blog</a></li>
                  </ul>
                </li>
                <li><a href="{{site.url}}/Contact-Us">Contact</a></li>
                <li class="login"><a href="https://kaffeinatedkodemonkey.smblogin.com/" title="Client Dashboard">Sign In</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
