
<div class="container">
  <div class="row mt-3 mb-3">
    <div class="col-12">
      <h2 class="text-center text-uppercase">Bundled Products & Services</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-3 mb-5">
      <a href="{{site.url}}/Website/Agency-Essentials">
        <div class="card" style="width: 18rem;">
          <img class="img-responsive" src="{{site.url}}/assets/images/homepage/AgencyEssentials.png" alt="Agency Essentials">
          <div class="card-body">
            <p class="text-center">Agency Essentials<br />$550 Setup + $40 mon</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-4 col-sm-3 mb-5">
      <a href="{{siteurl}}/Website/Business-Essentials">
        <div class="card align-middle" style="width: 18rem;">
          <img class="img-responsive" src="{{site.url}}/assets/images/homepage/BusinessEssentials.png" alt="Business Essentials">
          <div class="card-body">
            <p class="text-center">Business Essentials<br />$50 Setup + $65 Monthly</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-4 col-sm-3 mb-5">
      <a href="{{site.url}}/Website/Business-Marketing">
        <div class="card" style="width: 18rem;">
          <img class="img-responsive" src="{{site.url}}/assets/images/homepage/BusinessMarketing.png" alt="Business Marketing">
          <div class="card-body">
            <p class="text-center">Business Marketing<br />$99 Setup + $360 Monthly</p>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-12 mb-5">
      <a href="{{site.url}}/Website/Customer-Loyalty">
        <div class="card" style="width: 18rem;">
          <img class="img-responsive" src="{{site.url}}/assets/images/homepage/CustomerLoyalty.png" alt="Customer Loyalty ">
          <div class="card-body">
            <p class="text-center">Customer Loyalty <br />$250 Setup + $344 Monthly</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4 col-sm-12 mb-5">
      <a href="{{site.url}}/Website/Listings-Presence">
        <div class="card" style="width: 18rem;">
          <img class="img-responsive" src="{{site.url}}/assets/images/homepage/ListingsPresence.png" alt="Listing Presence">
          <div class="card-body">
            <p class="text-center">Listing Presence<br />$85 Setup + $42 Monthly</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4 col-sm-12 mb-5">
      <a href="{{site.url}}/Website/Website-Creation">
        <div class="card" style="width: 18rem;">
          <img class="img-responsive" src="{{site.url}}/assets/images/homepage/WebsiteCreation.png" alt="Website Creation">
          <div class="card-body">
            <p class="text-center">Website Creation<br />$354 Montly</p>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-12 mb-5">
      <a href="{{site.url}}/Website/Content-Foundation">
        <div class="card" style="width: 18rem;">
          <img class="img-responsive" src="{{site.url}}/assets/images/homepage/ContentFoundation.png" alt="Content Foundation">
          <div class="card-body">
            <p class="text-center">Content Foundation <br />$2250 Setup + $199 Mothly</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-4 col-sm-12 mb-5">
      <a href="https://vpat-compliant.com/">
        <div class="card" style="width: 18rem;">
          <img class="img-responsive" src="{{site.url}}/assets/images/homepage/VPAT-Certification.png" alt="VPAT Certification">
          <div class="card-body">
            <p class="text-center">VPAT Certification<br />$1495 One-time</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-4 col-sm-12 mb-5">
      <a href="https://vpat-compliant.com/Monitoring">
        <div class="card" style="width: 18rem;">
          <img class="img-responsive" src="{{site.url}}/assets/images/homepage/Monitoring.png" alt="Accessibility Monitoring">
          <div class="card-body">
            <p class="text-center">Acessibility Monitoring<br />$1495 Setup + $164 Montly</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
