<!-- Website Packages -->
<section id="products" class="products sections lightbg">
  <div class="container">
    <div class="row ">
      <div class="col-12 mb-3">
        <h2 class="text-center text-burgandy">Responsive design built on Accessibility</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-12 mt-4 mb-5 p-3 rounded prod">
        <a href="{{site.url}}/website/SMB-Websites">
          <div class="card" style="width: 18rem;">
            <img class="img-responsive" src="{{site.url}}/assets/images/homepage/Listing-Presence.png" alt="Listing Presence">
            <div class="card-body">
              <p class="text-center">SMB Websites</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-12 shadow-lg pt-4 pl-4 pb-2 mb-5 bg-info rounded">
        <a href="{{site.url}}/website/SIPA-Portal">
          <div class="card align-middle prod" style="width: 17.5rem;">
            <img class="img-responsive" src="{{site.url}}/assets/images/homepage/BusinessPresence.jpg" alt="Business Presence">
            <div class="card-body">
              <p class="text-center">Government Portal</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-12 mt-4 mb-5 p-3 prod">
        <a href="https://vpat-compliant.com/" target="_blank">
          <div class="card" style="width: 18rem;">
            <img class="img-responsive" src="{{site.url}}/assets/images/homepage/CustomerLoyalty.png" alt="Customer Loyalty ">
            <div class="card-body">
              <p class="text-center">ADA Compliance</p>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</section>
