<!-- Website Packages -->

    <div class="row mb-3 mt-5">
      <div class="col-12 mb-3">
        <h2 class="text-center text-burgandy">Delivering content that is accessible by everyone.</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-12 mb-2 rounded">
        <a href="{{site.url}}/Web-Accessibility/ADA-Compliance" title="Is your site ADA Compliant?">
          <div class="card" style="width: 18em;">
            <img src="{{site.url}}/assets/images/homepage/VPAT-Certification.png" class="img-fluid img-thumbnail pb-4" alt="ADA Compliance">
            <div class="card-body pb-3" id="certificate">
              <h3 class="text-center">ADA Compliance</h3>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-12 mb-2 rounded">
        <a href="{{site.url}}/Website-Services/Presences" title="Get your online presence today!">
          <div class="card" style="width: 18rem;">
            <img src="{{site.url}}/assets/images/websites.jpg" class="img-fluid img-thumbnail" alt="Website Presence">
            <div class="card-body">
              <h3 class="text-center">Accessibile Website</h3>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-12 rounded">
        <a href="{{site.url}}/Marketing/Local-Listings" title="Starte Markeing your website">
          <div class="card" style="width: 18rem;">
            <img src="{{site.url}}/assets/images/Advertising_Intelligence.jpg" class="img-fluid img-thumbnail pb-4"  alt="Marketing Presence">
            <div class="card-body">
              <h3 class="text-center">SEO Marketing</h3>
            </div>

          </div>
        </a>
      </div>

    </div>
