<div class="row">
  <div class="col-8">
    <h3>Reputation Management is required to add this procust.</h3>

    <p>Display reviews from popular sites like Facebook, TripAdvisor, and Google on your clients’ websites.</p>

    <ul class="fa-ul">
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Improve SEO ranking for your clients’ websites</li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>One place to showcase your clients’ reputation</li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Build trust with potential customers faster</li>
    </ul>

    <h3 class="text-uppercase">FAQ</h3>

    <div class="accordion" id="SocialMonitoring">
      <div class="card">
        <div class="card-header" id="SM-headingOne">
          <a href="#" class="collapsed"  data-toggle="collapse" data-target="#SM-collapseOne" aria-expanded="false" aria-controls="SM-collapseOne">
            What review sources does the Review Display Widget Pro include?
          </a>
        </div>
        <div id="SM-collapseOne" class="collapse" aria-labelledby="SM-headingOne" data-parent="#SocialMonitoring">
          <div class="card-body">
            This widget will display reviews from all sources turned on in Reputation Management, except Yelp.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="SM-headingTwo">
          <a href="#" class="collapsed" data-toggle="collapse" data-target="#SM-collapseTwo" aria-expanded="false" aria-controls="SM-collapseTwo">
            What shows up on the Review Display Widget?
          </a>
        </div>
        <div id="SM-collapseTwo" class="collapse" aria-labelledby="SM-headingTwo" data-parent="#SocialMonitoring">
          <div class="card-body">
            The review site logo and the review site name will be displayed next to its respective review on the widget.
          </div>
        </div>
      </div>

    </div>

  </div>


</div>
