<div class="row">
  <div class="col-8">
    <h3>Reputation Management is required to add this procust.</h3>

    <p>Rapid Reviews scans the web for new reviews twice a day - helping you stay up to date and respond to your client’s
    reviews quickly.</p>

    <ul class="fa-ul">
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>2X faster review scanning </li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Respond to your client's reviews faster </li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Showcase top-notch customer service </li>
    </ul>

  </div>


</div>
