<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="{{baseurl}}/gov-portal" title="Gov Portal"><i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Gov Portal</h3></a>
                    <p class="text-muted">For Colorado government entities we FastTrack your site on the .gov portal.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="{{baseurl}}/rural-business" title="Rural Business"><i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Rural Business</h3></a>
                    <p class="text-muted">Your business matters. Most of all your Clients matter. Show them thanks through a website.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="{{baseurl}}/custom" title="Custom Build"><i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Custom Build</h3></a>
                    <p class="text-muted">Are you looking for something with more functionality than a online site builder?</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="{{baseurl}}/local_seo" title="Local Listing and SEO"><i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Local & SEM</h3></a>
                    <p class="text-muted">Check your listing. Be listed on the top search engins. Swtart an SEM campaign.</p>
                </div>
            </div>
        </div>
    </div>
</section>
