<section class="services pb-50">
	<div class="service-bg pt-20 pb-20">
    <div class="overlay"></div>
    <aside class="bg-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="text-uppercase">Our Services</h2>
                    <p>whether you are a business owner seeking to open an ecommerce store or launch a custom website, or a Government
                      entitiy seeking help with the Colorado portal we have just the right team to help you througth the process.</p>
                </div>
            </div>
        </div>
    </aside>
    <!--<div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="text-uppercase">Our Services</h2>
          <p class="white-color mt-20 hidden-xs">whether you are a business owner seeking to open an ecommerce store or launch a custom website, or a Government
              entitiy seeking help with the Colorado portal we have just the right team to help you througth the process.</p>

          <p class="white-color hidden-sm hidden-md hidden-lg">Get the most reliable and affordable custom design and development services from renowned industry experts.</p>
        </div>
      </div>
    </div> -->
  </div>
  <div class="container">
    <div id="exTab3" class="">
      <ul  class="nav nav-pills">
        <li class="active"><a class="diamond" href="#tab1" data-toggle="tab">Web Development</a> </li>
        <li><a class="diamond" href="#tab2" data-toggle="tab">ADA/508 Compliant</a> </li>
        <li><a class="diamond" href="#tab3" data-toggle="tab">Local Listing</a> </li>
        <li><a class="diamond" href="#tab4" data-toggle="tab">Social Marketing</a> </li>
        <li><a class="diamond" href="#tab5" data-toggle="tab">SEO Networking</a> </li>
      </ul>
      <div class="tab-content clearfix">
        <div class="tab-pane active" id="tab1">
          <div class="row">
            <div class="col-md-6 mt-100 animated bounceInLeft">
              <h2 class="">Local and Government </h2>
              <h3 class="primary-color remove-margin text-uppercase">Website Development </h3>
              <!-- <h1 class="secondary-color remove-margin">DEVELOPMENT</h1> -->
              <p class="mt-40">Are you a business owner that is looking to grow your business virtualy? </br>
                Or a government entity that is researching your options about processing forms and sharing information online.
                Whatever the case may be we have you covered from E-commerce stores, CMS Platforms, Colorado Portal, to custom
                development.</p>

              <p class="mt-20 hidden-xs">Kaffeinated Kodemonkey has the solution for you are looking for. Weather it be a
                website for a rural business or implimenteaion of the Colorado Portal for government entity, our team of
                expertis strives to deliver customer engagind websites you and your staff will be proud to own.</p>

              <p class="hidden-sm hidden-md hidden-lg">Let it be a rural business or a government entity our team of developers
                stive to be the best developers in the Uinta Basen.</p>

              <p class="hidden-sm hidden-md hidden-lg">Book a Cup of Coffee today & and find out
                <span style="color:#49286C;font-weight:700;">our developers can do for you</span>.</p>

              <a href="/web-design-and-development" class="btn btn-normal mt-30 hidden-xs">READ MORE</a>
              <a href="#" data-toggle="modal" data-target="#SignupModal" class="btn btn-normal hidden-sm hidden-md hidden-lg phone">Book a Cup of Coffee</a>
            </div>
            <div class="col-md-6 mt-50 animated zoomIn hidden-xs">
          	   <div class="tab-image"><img src="/assets/images/tab-web-img1.png"></div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="tab2">
          <div class="row">
            <div class="col-md-6 mt-60 animated zoomIn">
              <h2 class="primary-color remove-margin">Web Accessibility</h2>
              <h1 class="secondary-color remove-margin">ADA/508 Compliant</h1>
              <p class="mt-40 hidden-xs">Branding begins with the Logo Design and for many it’s the first thing they think of when they see your brand, which essentially serves as your positioning strategy. In an ideal world the ideal branding process begins with the apprehension of the personality that the brand is trying to represent through Logo Design, the typography and color palettes that defines the brand. We can help you get a custom made logo design because we know, how it signifies the company’s value, vision and commitment towards its users.</p>

              <p class="mt-20 hidden-xs">“A logo doesn’t sell, it identifies. It derives its meaning from the quality of the thing it symbolizes, and not the other way around.” – <span style="color:#49286C;font-weight:700;">Paul Rand</span></p>
              <p class="hidden-sm hidden-md hidden-lg">Branding begins with the Logo Design. In an ideal world the ideal branding process begins with the apprehension of the personality that the brand is trying to represent through Custom Logo Design, the typography & color palettes that defines the brand. We can help you get a Custom made logo design, because we know, how it signifies the company’s value, vision & commitment towards its users. </p>
              <p class="mt-40 hidden-sm hidden-md hidden-lg">Register yourself today & start the business journey through <span style="color:#49286C;font-weight:700;">Custom Logo Design in just $48.</span></p>

              <a href="/logo-design" class="btn btn-normal mt-30 hidden-xs">READ MORE</a>

              <a href="#" data-toggle="modal" data-target="#SignupModal" class="btn btn-normal hidden-sm hidden-md hidden-lg phone">REGISTER NOW</a>

            </div>
            <div class="col-md-6 mt-90 animated bounceInRight hidden-xs">
              <div class="tab-image"><img src="/assets/images/logo-design-banner2-img1.png"></div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="tab3">
          <div class="row">
            <div class="col-md-6 mt-100 animated bounceInLeft">
              <h2 class="primary-color remove-margin">Local Listing & Directories</h2>
              <h1 class="secondary-color remove-margin">Search Engine Submission</h1>
              <p class="mt-40">Being one of the leading design and development agency; we provide mobile app development services as well. We don’t outsource the work as we have got in-house app development engineers who are proficient in making great Android, Windows and iOS applications through latest instruments and innovations, for example, OpenGL, Eclipse, SQLite, Java, JavaScript and HTML5.</p>
              <p class="mt-20">Its on Media account managers and app strategist complete attention to every client, which leads us to this that, in present we are connected with hundreds of client all across the world.</p>
              <a href="/mobile-apps-development" class="btn btn-normal mt-30 hidden-xs">READ MORE</a>
              <a href="#" data-toggle="modal" data-target="#SignupModal" class="btn btn-normal hidden-sm hidden-md hidden-lg phone">REGISTER NOW</a>
            </div>
            <div class="col-md-6 mt-50 animated zoomIn hidden-xs">
              <div class="tab-image"><img src="/assets/images/tab-app-img.png"></div>
            </div>
          </div>
      	</div>
        <div class="tab-pane" id="tab4">
        	<div class="row">
          	<div class="col-md-6 mt-100 animated bounceInLeft">
            	<h2 class="primary-color remove-margin">Social Marketing</h2>
              <h1 class="secondary-color remove-margin">Reuptaton Management</h1>
              <p class="mt-40">Are you looking for visually appealing spellbinding graphics to showcase your customers how your product works? Or maybe you have a way with words, but not sure how to wow those potential clients with graphics?</p>
              <p class="mt-20">Let’s talk and see if we can help you create an animation that really gets your viewer thinking. <span style="color:#49286C;font-weight:700;">Starting from $199</span></p>
              <a href="/video-animation" class="btn btn-normal mt-30 hidden-xs">READ MORE</a>
              <a href="#" data-toggle="modal" data-target="#SignupModal" class="btn btn-normal hidden-sm hidden-md hidden-lg phone">REGISTER NOW</a>
            </div>
            <div class="col-md-6 mt-50 animated zoomIn hidden-xs">
              <div class="tab-image"><img src="/assets/images/lpvdo.png"></div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="tab5">
       		<div class="row">
            <div class="col-md-6 mt-100 animated bounceInLeft">
              <h2 class="primary-color remove-margin">SEO</h2>
              <h1 class="secondary-color remove-margin">Networking</h1>
              <p class="mt-40">So your website is up and running but you are not sure what’s next? Or perhaps you tried SMM, Email and Social media, got your hands dirty, but don’t seem to be going anywhere? No worries, we’ve got you covered with our digital marketing services including SMM, SEO and SEM!</p>
              <p class="mt-20 hidden-xs">Let’s begin our journey to get you the attention your business oh-so deserves!</p>
              <p class="hidden-sm hidden-md hidden-lg">Let’s begin our journey to get you the attention your business oh-so deserves! <span style="color:#49286C;font-weight:700;">Starting from $499</span></p>
              <a href="/digital-marketing" class="btn btn-normal mt-30 hidden-xs">READ MORE</a>
              <a href="#" data-toggle="modal" data-target="#SignupModal" class="btn btn-normal hidden-sm hidden-md hidden-lg phone">REGISTER NOW</a>
            </div>
            <div class="col-md-6 mt-50 animated zoomIn hidden-xs">
          	   <div class="tab-image"><img src="/assets/images/tab-seo-img.png"></div>
            </div>
          </div>
      	</div>
      </div>
    </div>
  </div>
</section>
