<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Our Products</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!--<div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="{{baseurl}}/gov-portal" title="FastTrack Portal"><i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>FastTrack Portal</h3></a>
                    <p class="text-muted">Are you a Gov. Entitey Looking for a website? </p>
                    <p class="text-muted">Did you Sign up for a .Gov Portal & need help?</p>
                </div>
            </div> -->
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <a href="{{baseurl}}/Web-Presence" title="Web Presence"><i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Web Presence</h3></a>
                    <p class="text-muted">Looking for a website that is easy to manage?</p>
                    <p class="text-muted">Do you have a website & want help updating it?</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <a href="{{baseurl}}/accessibility" title="Web Accessibility"><i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Web Accessibility</h3></a>
                    <p class="text-muted">Is your site 508 complianc?</p>
                    <p class="text-muted">Do you meet the ADA requirements?</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <a href="{{baseurl}}/local-listing" title="Services"><i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Services</h3></a>
                    <p class="text-muted">Is your NAP info accurate on search engines?</p>
                    <p class="text-muted">Do you know what is being said aobut you online?</p>
                </div>
            </div>
        </div>
    </div>
</section>
