<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="text-center text-uppercase">Featuered Products & Services</h2>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <div id="FeatuerPRoducts" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#FeatuerPRoducts" data-slide-to="0" class="active"></li>
          <li data-target="#FeatuerPRoducts" data-slide-to="1"></li>
          <li data-target="#FeatuerPRoducts" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-3 mt-4 ml-5 pl-3">
                <a href="https://vpat-compliant.com/">
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top d-block w-100" src="{{site.url}}/assets/images/homepage/VPAT-Certification.png" alt="Accessibility Certification">
                    <div class="card-body">
                      <p class="card-text text-center">$1495 One-time / $165 mo</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-7 ml-5 pl-5">
                <h3>Certification & Monitoring</h3>
                <p>Accessibiltiy Experts will help your website meet ADA requirments for an <a href="https://vpat-compliant.com/VPAT"><strong><em>Accessibility
                Certification</em></strong></a>.</p>

                <p>Update your site worry free with our <a href="https://vpat-compliant.com/Monitoring"><strong><em>Accessibiltiy Monitoring</em></strong></a>.
                We send monthly Compliance Reports to keep your Certification current.</p>

                <p class="text-right"><a href="https://kaffeinatedkodemonkey.youcanbook.me/" class="btn btn-lg btn-danger" role="button">Book Free Consultation</a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-3 mt-4 ml-5 pl-3">
                <a href="{{site.url}}/website/microsite/">
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top d-block w-100" src="{{site.url}}/assets/images/website/Microsite.jpg" alt="Microsite">
                    <div class="card-body">
                      <p class="card-text text-center">$250 Setup</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-7 ml-5 pl-5">
                <h3>Microsite</h3>
                <p>Our Microsite is deaigned as a low-cost way to get your businesses online presencs started.</p>

                <p>Our Microsite offers you a simple design that is responsive and search engine friendly,offers basices search engind listings
                 and include Google My Business.</p>

                <p class="text-right"><a href="https://kaffeinatedkodemonkey.youcanbook.me/" class="btn btn-lg btn-danger" role="button">Book Free Consultation</a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-3 mt-4 ml-5 pl-3">
                <a href="{{site.url}}/packages/customer-loyalty/">
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top d-block w-100" src="{{site.url}}/assets/images/website/Customer-Loyalty.png" alt="Customer Loyalty">
                    <div class="card-body">
                      <p class="card-text text-center">$365 mo.</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-7 ml-5 pl-5">
                <h3>Customer Loyalty</h3>
                <p>Gain visibility and understanding into your customers. Leverage insights to deliver a highly personalized experience in your
                physical location, all while utilizing a customer feedback tool that will have you seeing stars!</p>

                <p class="text-right"><a href="https://kaffeinatedkodemonkey.youcanbook.me/" class="btn btn-lg btn-danger" role="button">Book Free Consultation</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left carousel-control-prev" href="#FeatuerPRoducts" data-slide="prev">
          <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control right carousel-control-next" href="#FeatuerPRoducts" data-slide="next">
          <i class="fa fa-angle-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>
