<div class="row">
  <div class="col-8">
    <p>Social media is hard to do on your own. You need to come up with a nonstop stream of relevant content and engage with customers across all social channels, every single day.</p>

    <p>We help by giving your business one place to stay social. Generate leads, schedule ready-to-publish content, and communicate with your followers all from one place. Finally, a tool that makes managing social media simple.</p>

    <div class="embed-responsive embed-responsive-16by9 mt-3 mb-3">
      <iframe class="embed-responsive-item" src="https://storage.googleapis.com/mediarepo-prod/marketplace-products/03b8eeeb-8c40-4974-85ea-a8be5dc5a62a/Watch%20this%20video!%20.mp4" allowfullscreen></iframe>
    </div>

    <ul class="fa-ul">
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Post everywhere from one place: Publish and schedule posts for all your social accounts including Facebook, Instagram, Google My Business, Twitter, LinkedIn, and Google+. </li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Engage your followers: Connecting with your followers is simple. Respond to customers, share ready-to-post content, and build stronger social relationships with your followers.</li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Generate social leads: Discover new leads on Twitter and engage them with the click of a button! </li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Mobile-friendly: Use on any device, any time—this means you can post and respond in the moment, and never miss a beat. </li>
    </ul>

    <h3 class="text-uppercase">FAQ</h3>

    <div class="accordion" id="SocialMonitoring">
      <div class="card">
        <div class="card-header" id="SM-headingOne">
          <a href="#" class="collapsed"  data-toggle="collapse" data-target="#SM-collapseOne" aria-expanded="false" aria-controls="SM-collapseOne">
            How can social media help me generate leads?
          </a>
        </div>
        <div id="SM-collapseOne" class="collapse" aria-labelledby="SM-headingOne" data-parent="#SocialMonitoring">
          <div class="card-body">
            It's easy! By setting up a list of searches, you can find customers in your area and start an immediate conversation. Here are 3 easy steps. First, find words and phrases that relate to your products or services. If you’re a locksmith, try “locked keys in the car”. Next, respond to the relevant search results by starting a conversation or making the person an offer. And finally, seal the deal and fulfill your end of the bargain. The system will automatically record all conversations for future viewing.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="SM-headingTwo">
          <a href="#" class="collapsed" data-toggle="collapse" data-target="#SM-collapseTwo" aria-expanded="false" aria-controls="SM-collapseTwo">
            What's social media's role in customer service?
          </a>
        </div>
        <div id="SM-collapseTwo" class="collapse" aria-labelledby="SM-headingTwo" data-parent="#SocialMonitoring">
          <div class="card-body">
            Companies know that customer service is important, but a lot of businesses still haven’t formed a specific strategy for addressing online concerns and building social relationships. With 89% of U.S. consumers saying that they’ve gone to a competitor after a poor customer service experience, it’s clear that a business’s ability to listen to complaints and provide solutions is linked to its success.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="SM-headingThree">
          <a href="#"  class="collapsed"  data-toggle="collapse" data-target="#SM-collapseThree" aria-expanded="false" aria-controls="SM-collapseThree">
            How are social audiences built?
          </a>
        </div>
        <div id="SM-collapseThree" class="collapse" aria-labelledby="SM-headingThree" data-parent="#SocialMonitoring">
          <div class="card-body">
            Did you know that 90% of small businesses have Facebook pages, but that almost one-third of them have less than thirty-two fans? Building an engaged audience can be difficult, and for many local businesses, it’s the reason why they quit updating their pages long ago. In order to create a successful following on social media, every post needs to have value. This means posting timely, relevant, and engaging content.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="SM-headingFour">
          <a href="#"  class="collapsed"  data-toggle="collapse" data-target="#SM-collapseFour" aria-expanded="false" aria-controls="SM-collapseFour">
            What are the top features?
          </a>
        </div>
        <div id="SM-collapseFour" class="collapse" aria-labelledby="SM-headingFour" data-parent="#SocialMonitoring">
          <div class="card-body">
            <ul>
              <li><strong>Post calendar</strong>―Effectively manage and schedule posts using a convenient calendar view</li>
              <li><strong>Mobile-friendly</strong>—Fully mobile responsive so you can work how you want</li>
              <li><strong>Analytics</strong>—Rich engagement statistics on your social posts</li>
              <li><strong>Lead finder</strong>—Configure keyword searches and geo targeting to find and engage with your target audience</li>
              <li><strong>Ready-to-post content library</strong>—Use your favourite RSS feeds to discover great content to use in your social media marketing</li>
              <li><strong>All-in-one composer</strong>—Post to Facebook, Instagram, Twitter, Google My Business, Google+, and LinkedIn</li>
              <li><strong>Direct Instagram scheduling</strong>―Plan Instagram posts in advance and then sit back as they are published automatically</li>
              <li><strong>Google Posts support</strong>―Promote your clients’ upcoming events, make special announcements, share timely offers and more</li>
              <li><strong>Configurable notifications</strong>―Get notifications on new leads, customer replies and more</li>
              <li><strong>Customer engagement</strong>―Get an aggregate view of all customer posts and respond to them directly</li>
            </ul>
          </div>
        </div>
      </div>

    </div>

  </div>

  <!-- Gallery -->
  <div class="col-4">
    <h4>Gallery</h4>
    <!-- row -->
    <div class="row mb-3">
      <div class="col">
        <a href="{{site.url}}/assets/images/website/SM-img-1.png"><img src="{{site.url}}/assets/images/website/SM-img-1.png"></a>
      </div>
      <div class="col">
        <a href="{{site.url}}/assets/images/website/SM-img-2.png"><img src="{{site.url}}/assets/images/website/SM-img-2.png"></a>
      </div>
    </div>
    <!-- end row -->
    <!-- row -->
    <div class="row mb-3">
      <div class="col">
        <a href="{{site.url}}/assets/images/website/SM-img-3.png"><img src="{{site.url}}/assets/images/website/SM-img-3.png"></a>
      </div>
      <div class="col">
        <a href="{{site.url}}/assets/images/website/SM-img-4.png"><img src="{{site.url}}/assets/images/website/SM-img-4.png"></a>
      </div>
    </div>
    <!-- end row -->
    <!-- row -->
    <div class="row mb-3">
      <div class="col">
        <a href="{{site.url}}/assets/images/website/SM-img-5.png"><img src="{{site.url}}/assets/images/website/SM-img-5.png"></a>
      </div>
      <div class="col">
        <a href="{{site.url}}/assets/images/website/SM-img-6.png"><img src="{{site.url}}/assets/images/website/SM-img-6.png"></a>
      </div>
    </div>
    <!-- end row -->

  </div>
</div>
