<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Sections -->
    <section id="social" class="social">
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="social-wrapper">
                    <div class="col-md-6">
                        <div class="social-icon">
                          <a href="https://facebook.com/{{site.facebook_username}}" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/{{site.twitter_username}}" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="https://plus.google.com/{{site.google_username}}" target="_blank" title="Google My Business"><i class="fa fa-google"></i></a>
                            <a href="https://www.linkedin.com/in/{{site.linkedIn_username}}" target="_blank" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="social-contact">
                            <a href="#"><i class="fa fa-phone"></i>720.608.1444</a>
                            <a href="#"><i class="fa fa-envelope"></i>info@kaffeinatedkodemonkey.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /container -->
    </section>
