<nav>
  <!-- Sections -->
  <section id="social" class="social">
    <div class="container-fluid">
      <!-- Example row of columns -->
      <div class="row mr-3">
        <div class="col-md-7 col-sm-12">
          <div class="social-icon">
            <a class="nav-link" href="https://facebook.com/{{site.facebook_username}}" target="_blank" title="Facebook" aria-label="facebook"><i class="fab fa-facebook-f"></i></a>
            <a class="nav-link" href="https://twitter.com/{{site.twitter_username}}" target="_blank" title="Twitter" aria-label="twitter"><i class="fab fa-twitter"></i></a>
            <a class="nav-link" href="https://www.linkedin.com/in/{{site.linkedIn_username}}" target="_blank" title="LinkedIn" aria-label="LinkedIn"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
        <div class="col-md-5 col-sm-12">
          <div class="social-contact text-center">
            <a href="#"><i class="fa fa-phone"></i>720.608.1444</a>
            <a href="mailto:info@kaffeinatedkodemonkey.com"><i class="fa fa-envelope"></i>The Kodemonkey</a>
          </div>
        </div>
      </div>

    </div> <!-- /container -->
  </section>
</nav>
