<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="text-center">What Our Clients are saying!</h2>
    </div>
  </div>

	<div class="row">
		<div class="col col-center m-auto">

			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Carousel indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>
				<!-- Wrapper for carousel items -->
				<div class="carousel-inner">
					<div class="item carousel-item active">
						<!-- <div class="img-box"><img src="/examples/images/clients/1.jpg" alt=""></div> -->
						<p class="testimonial">Excellent service! My website was neglected due to more urgent business needs. Heather restored it to a highly functional and visible business asset. I will always lean on her for any additional electronic marketing needs.</p>
						<p class="overview"><b>Ray Hawkins</b>, Colorado Seaplane Initiative</p>
					</div>
					<div class="item carousel-item">
						<!-- <div class="img-box"><img src="/examples/images/clients/2.jpg" alt=""></div> -->
						<p class="testimonial">Heather, owner of Kaffeinated Kodemonkey, completed the Rio Blanco Water Conservancy District website on a shoe string budget. She was highly accommodating working with us to obtain our preferred needs in a timely and efficient manner. We will continue with the webpage development/improvements into 2018 which includes increased web exposure and continued website maintenance.</p>
						<p class="overview"><b>Alden Vanden Brink</b>, <a href="http://www.rioblancowcd.org/" target="_bland">Rio Blanco Warter Conservancy District</a></p>
					</div>
					<div class="item carousel-item">
						<!-- <div class="img-box"><img src="/examples/images/clients/3.jpg" alt=""></div> -->
						<p class="testimonial">The CISC engaged Heather Welsh (KKM) to build a new CISC website. The results have been outstanding. Heather is incredibly competent in technical site design and the subtle nuances of the Internet. Interpersonally, she is also a wonderful communicator. Her open, positive, fun to talk to, forward-thinking, energetic personality and style make all involved effort a pleasure. Certainly the site is not yet complete, but if what I see today is any indication, the CISC Board and Member Agencies will be delighted with the final result.</p>
						<p class="overview"><b>D. M. Shipley</b>, <a href="https://co-cisc.org/" target="_bland">Colorado Information Sharing Conortium</a></p>
					</div>
				</div>
				<!-- Carousel controls -->
				<a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
					<i class="fa fa-angle-left"></i>
				</a>
				<a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div>
	</div>
</div>
