<div class="row">
  <div class="col-8">
    <p>Only about 2% of website visitors identify themselves by filling out a form. We help you Identify the other 98%. Turn your website into a lead generation machine with Visual Visitor - Anonymous Visitor Identification.</p>

    <ul class="fa-ul">
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>We identify anonymous visitors to your website</li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>We determine their buying intent and access to company information</li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>We deliver all of this information in an email while the prospect is still on your website.</li>
    </ul>

    <h3 class="text-uppercase">FAQ</h3>

    <div class="accordion" id="VV">
      <div class="card">
        <div class="card-header" id="VV-headingOne">
          <a href="#"  class="collapsed"  data-toggle="collapse" data-target="#VV-collapseOne" aria-expanded="true" aria-controls="VV-collapseOne">
            What are some common uses of the Visual Visitor service?
          </a>
        </div>

        <div id="VV-collapseOne" class="collapse" aria-labelledby="VV-headingOne" data-parent="#VV">
          <div class="card-body">
            <ol>
              <li>Avoid the “Proposal Gone Cold” You spend a massive amount of time, money, and energy creating the perfect deal, only to have your contact
              disappear after the pitch. Why? Many times these contacts simply begin a silent follow up to the proposal. They will visit your website to review
              your information, or they will read whitepapers, etc. to look for data to validate your company and your plan. Visual Visitor helps you close that
              communication gap. We will inform you when those formerly anonymous visitors have returned to your website. This will allow you take immediate action
              with a perfectly timed follow up email or phone call.</li>
              <li>The Perfectly Timed Phone Call Selling is hard work but selling to interested buyers is so much easier! Did you know that only 2% of all anonymous
              visitors to your website ever identify themselves by filling out a contact form or picking up the phone. We can help you to identify the other 98% with
              more than an IP Address. </li>
              <li>Outbound Sales Effectiveness Cold calling is common sales tool, and no matter how we try to avoid it, it will be around forever. What happens after
              the call? With Visual Visitor’s Anonymous Visitor Tracking and Identification you will now be able to identify those anonymous website visitors. This
              will show who you are reaching making it easier to focus your sales efforts. Knowing that the calls and or emails that are sending out are working or
              not working can help you to define and strategize better. (4) Market Segmentation Marketing is, beyond a doubt, complex and getting more so every day.
              With Visual Visitor’s you can gain a better understanding of companies evaluating your products and services. Knowing which marketing plans – social
              media marketing, banner ads, etc – are bringing the most clicks AND conversions can help drive a more effective marketing plan. Marketing is expensive.
              Knowing what is working and what is not can make a huge difference in your marketing bottom line.</li>
            </ol>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="VV-headingTwo">
          <a href="#"  class="collapsed"  data-toggle="collapse" data-target="#VV-collapseTwo" aria-expanded="false" aria-controls="VV-collapseTwo">
            What is Anonymous Visitor Identification from Visual Visitor?
          </a>
        </div>
        <div id="VV-collapseTwo" class="collapse" aria-labelledby="VV-headingTwo" data-parent="#VV">
          <div class="card-body">
            Visual Visitor’s powerful anonymous website visitor tracking and lead generation tool can actually tell you which businesses are visiting, how often they visit, how long they view your pages, and more! We tell you what they are looking for and where they are coming from! How many sales have slipped away because your team did not have the tools to identify those anonymous website visitors that showed real interest in your product but didn’t fill out a form while on your site?
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="VV-headingThree">
          <a href="#"  class="collapsed"  data-toggle="collapse" data-target="#VV-collapseThree" aria-expanded="false" aria-controls="VV-collapseThree">
            Are there any possible negative effects from Visual Visitor? Are there any security warnings to the visitor?
          </a>
        </div>
        <div id="VV-collapseThree" class="collapse" aria-labelledby="VV-headingThree" data-parent="#VV">
          <div class="card-body">
            Good news! There are none. The code is invisible. All it does is grab the IP address (and few other pieces of data) of the visitor then sends that info to our database.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="VV-headingFour">
          <a href="#"  class="collapsed"  data-toggle="collapse" data-target="#VV-collapseFour" aria-expanded="false" aria-controls="VV-collapseFour">
            I would like to implement one of the many Visual Visitor features, but am unsure how. Do you have help files?
          </a>
        </div>
        <div id="VV-collapseFour" class="collapse" aria-labelledby="VV-headingFour" data-parent="#VV">
          <div class="card-body">
            Yes we do. For each feature, you will find a help icon on that page which link to very informative video files designed to help you set up and use each feature. If that does not answer your question, our support team is always available to further assist you.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="VV-headingFive">
          <a href="#"  class="collapsed"  data-toggle="collapse" data-target="#VV-collapseFive" aria-expanded="false" aria-controls="VV-collapseFive">
            What is the Identify ANYONE email campaign feature from Visual Visitor and how can it help increase my sales?
          </a>
        </div>
        <div id="VV-collapseFive" class="collapse" aria-labelledby="VV-headingFive" data-parent="#VV">
          <div class="card-body">
            Looking for email campaign integration to enhance your anonymous website visitor leads? Then Identify ANYONE from Visual Visitor is just what you need! We allow you to tag visitors directly from your email campaigns to record future visits! This feature is easy to set up and easy to use with our Email Campaign Link Builder.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="VV-headingSix">
          <a href="#"  class="collapsed"  data-toggle="collapse" data-target="#VV-collapseSix" aria-expanded="false" aria-controls="VV-collapseSix">
            What information does Visual Visitor tell us about our visitors?
          </a>
        </div>
        <div id="VV-collapseSix" class="collapse" aria-labelledby="VV-headingSix" data-parent="#VV">
          <div class="card-body">
            Visual Visitor will tell you… Who is on your website. What products or services they are interested in.Where they are from. When they visited. Email you while they are visiting your site. and we will provide you with a way to send that information directly to your supported CRM.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="VV-headingSeven">
          <a href="#"  class="collapsed"  data-toggle="collapse" data-target="#VV-collapseSix" aria-expanded="false" aria-controls="VV-collapseSeven">
            Does Visual Visitor offer any Reporting features?
          </a>
        </div>
        <div id="VV-collapseSeven" class="collapse" aria-labelledby="VV-headingSeven" data-parent="#VV">
          <div class="card-body">
            Reporting is a staple for this type of anonymous website visitor tracker and lead generation service. Visual Visitor understands that and offers many different reporting options to fit the needs of our customers – from automated Daily and Weekly reports, to criteria based reports customized to fit your specific needs. Our reporting also can be downloaded to CSV files for easy manipulation such as per client, per page, per keyword, and more. The next time you are preparing for that client meeting, wouldn’t you like to run a report to know what products/services that particular client is interested in? It is a simple task with Visual Visitor’s easy to use reporting feature.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="VV-headingEight">
          <a href="#"  class="collapsed"  data-toggle="collapse" data-target="#VV-collapseEight" aria-expanded="false" aria-controls="VV-collapseEight">
            Is Visual Visitor easy to use?
          </a>
        </div>
        <div id="VV-collapseEight" class="collapse" aria-labelledby="VV-headingEight" data-parent="#VV">
          <div class="card-body">
            Visual Visitor is designed to be easy to use, all you have to do is wait for your website visitors to show up. We do all the work by sending you real time notification of those visits in a mobile friendly Instant Email Alert. We even tell you which search engine and term they used to find you. Our Lead Generation tool includes an easy to use, intuitive Dashboard for your qualified sales leads filled with video help files – so that you can make the most from this powerful sales tool. It really doesn’t get any easier than that!
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="col-4 d-sm-block d-xs-block">
    <!-- Add-Ons -->
    <h4 class="pb-3">Upgrades</h4>

    <div class="row mb-3 ml-3">
      <div class="col-1 ASEO-icon pb-3"></div>
      <div class="col"><small>5 SEO Hours</small></div>
    </div>
    <div class="row mb-3 ml-3">
      <div class="col-1 ASEO-icon pb-3"></div>
      <div class="col"><small>10 SEO Hours</small></div>
    </div>
    <div class="row mb-3 ml-3">
      <div class="col-1 ASEO-icon pb-3"></div>
      <div class="col"><small>100 SEO Hours</small></div>
    </div>

    <hr / >
    <!-- Gallery -->
    <h4 class="pb-3">Gallery</h4>
    <!-- row -->
    <div class="row mb-3">
      <div class="col">
        <a href="{{site.url}}/assets/images/website/VV-img-1.jpg"><img src="{{site.url}}/assets/images/website/VV-img-1.jpg"></a>
      </div>
      <div class="col">
        <a href="{{site.url}}/assets/images/website/VV-img-2.jpg"><img src="{{site.url}}/assets/images/website/VV-img-2.jpg"></a>
      </div>
    </div>
    <!-- end row -->
    <!-- row -->
    <div class="row mb-3">
      <div class="col">
        <a href="{{site.url}}/assets/images/website/VV-img-3.jpg"><img src="{{site.url}}/assets/images/website/VV-img-3.jpg"></a>
      </div>
      <div class="col">
        <a href="{{site.url}}/assets/images/website/VV-img-4.jpg"><img src="{{site.url}}/assets/images/website/VV-img-4.jpg"></a>
      </div>
    </div>
    <!-- end row -->
    <div class="row mb-3">
      <div class="col">
        <a href="{{site.url}}/assets/images/website/VV-img-5.jpg"><img src="{{site.url}}/assets/images/website/VV-img-5.jpg"></a>
      </div>
      <div class="col">

      </div>
    </div>
    <!-- end row -->

  </div>
</div>
