<div class="row">
  <div class="col-8">

    <p>Host your website on a platform that’s fast, secure, and easy-to-use—it’s all possible when you combine Google Cloud Platform with WordPress.</p>

    <ul class="fa-ul">
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>World-class hosting with Google. Enjoy world-class and automated storage, speed, and security. Gain peace of mind knowing your site is hosted with the most trusted source on the internet—Google Cloud Platform. </li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Engaging reporting. Website Pro comes with a detailed reporting dashboard that highlights key performance metrics such as your page speed, number of website visitors, and more. </li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Robust CMS. WordPress is the number one Content Management System (CMS) in the world—powering over 60% of CMS based websites on the internet. </li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Built-in security. Website Pro performs automatic backups every day, allowing you to restore your site in one click. Plus, the included SSL certificate ensures your site provides the most secure connection to your visitors.</li>
    </ul>

    <h3 class="text-uppercase">FAQ</h3>

    <div class="accordion" id="WordPress">
      <div class="card">
        <div class="card-header" id="WP-headingOne">
          <a href="#" class="collapsed"  data-toggle="collapse" data-target="#WP-collapseOne" aria-expanded="false" aria-controls="WP-collapseOne">
            Wat is WordPress?
          </a>
        </div>
        <div id="WP-collapseOne" class="collapse" aria-labelledby="WP-headingOne" data-parent="#WordPress">
          <div class="card-body">
            WordPress is one of the most intuitive and powerful blogging and website content management system (CMS) available today. It takes care of all the background code and programming so people can focus on designing great looking websites. And it’s open source, which means people around the world are continuously improving it and adding awesome new features.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="WP-headingTwo">
          <a href="#" class="collapsed" data-toggle="collapse" data-target="#WP-collapseTwo" aria-expanded="false" aria-controls="WP-collapseTwo">
            What is a domain name?
          </a>
        </div>
        <div id="WP-collapseTwo" class="collapse" aria-labelledby="WP-headingTwo" data-parent="#WordPress">
          <div class="card-body">
            A domain name is like a street address, but for the Internet. A domain name is letters and numbers followed by an ending like (.com) or (.ca). It is also the URL customers enter to find your website.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="WP-headingThree">
          <a href="#"  class="collapsed"  data-toggle="collapse" data-target="#WP-collapseThree" aria-expanded="false" aria-controls="WP-collapseThree">
            Do I own my domain name?
          </a>
        </div>
        <div id="WP-collapseThree" class="collapse" aria-labelledby="WP-headingThree" data-parent="#WordPress">
          <div class="card-body">
            If you use an existing domain to build a site with us, you will retain ownership of that domain.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="WP-headingFour">
          <a href="#"  class="collapsed"  data-toggle="collapse" data-target="#WP-collapseFour" aria-expanded="false" aria-controls="WP-collapseFour">
            Do I own my website?
          </a>
        </div>
        <div id="WP-collapseFour" class="collapse" aria-labelledby="WP-headingFour" data-parent="#WordPress">
          <div class="card-body">
            Yes. You own your website and can export a copy at any time.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="WP-headingFive">
          <a href="#"  class="collapsed"  data-toggle="collapse" data-target="#WP-collapseFive" aria-expanded="false" aria-controls="WP-collapseFive">
            What does this solution include in the month cost?
          </a>
        </div>
        <div id="WP-collapseFive" class="collapse" aria-labelledby="WP-headingFive" data-parent="#WordPress">
          <div class="card-body">
            Everything you will need for a website is included in this cost—hosting, SSL certificates, *.websitepro.hosting domain, unlimited storage, migration plugin, unlimited backups, unlimited traffic, domain setup, and support. You can host any website for this price—there are no restrictions or limits.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="WP-headingSix">
          <a href="#"  class="collapsed"  data-toggle="collapse" data-target="#WP-collapseSix" aria-expanded="false" aria-controls="WP-collapseSix">
            Are WordPress plugins and themes restricted?
          </a>
        </div>
        <div id="WP-collapseSix" class="collapse" aria-labelledby="WP-headingSix" data-parent="#WordPress">
          <div class="card-body">
            There are no restrictions on plugins or themes—any plugin or theme can be added into Website Pro. Website Pro has its own migration, security, and backup tools, so we discourage using other plugins for these features.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="WP-headingSeven">
          <a href="#"  class="collapsed"  data-toggle="collapse" data-target="#WP-collapseSeven" aria-expanded="false" aria-controls="WP-collapseSeven">
            What are the benefits of Google Cloud Platform?
          </a>
        </div>
        <div id="WP-collapseSeven" class="collapse" aria-labelledby="WP-headingSeven" data-parent="#WordPress">
          <div class="card-body">
            Learn more about <a href="https://cloud.google.com/why-google-cloud/" target="_blank"><strong>"Google Cloud"</strong></a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="WP-headingEight">
          <a href="#"  class="collapsed"  data-toggle="collapse" data-target="#WP-collapseEight" aria-expanded="false" aria-controls="WP-collapseEight">
            Where can I learn more about WordPress?
          </a>
        </div>
        <div id="WP-collapseEight" class="collapse" aria-labelledby="WP-headingEight" data-parent="#WordPress">
          <div class="card-body">
            <ul>
              <li><a href="https://wordpress.org/" target="_blank"><strong>WordPress.org</strong></a></li>
              <li><a href="https://wordpress.org/plugins/" target="_blank"><strong>WordPress Plugins</strong></a></li>
              <li><a href="https://wordpress.org/themes/" target="_blank"><strong>WordPress Themes</strong></a></li>
              <li><a href="http://www.wpbeginner.com/category/wp-tutorials/" target="_blank"><strong>WP Beginner Instruction Articles</strong></a></li>
              <li><a href="https://www.youtube.com/user/wpbeginner/featured" target="_blank"><strong>WP Beginner Video Tutorials</strong></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Gallery -->
  <div class="col-4">
    <h4>Gallery</h4>
    <!-- row -->
    <div class="row mb-3">
      <div class="col">
        <a href="{{site.url}}/assets/images/website/WP-img-1.jpg"><img src="{{site.url}}/assets/images/website/WP-img-1.jpg"></a>
      </div>
      <div class="col">
        <a href="{{site.url}}/assets/images/website/WP-img-2.jpg"><img src="{{site.url}}/assets/images/website/WP-img-2.jpg"></a>
      </div>
    </div>
    <!-- end row -->
    <!-- row -->
    <div class="row mb-3">
      <div class="col">
        <a href="{{site.url}}/assets/images/website/WP-img-3.jpg"><img src="{{site.url}}/assets/images/website/WP-img-3.jpg"></a>
      </div>
      <div class="col">

      </div>
    </div>
    <!-- end row -->
    <!-- row -->
    <div class="row mb-3">
      <div class="col mt-3">
        <h4>Files</h4>

        <p><a href="https://storage.googleapis.com/mediarepo-prod/marketplace-products/97c982ee-4ab9-4a12-8acb-c157efe557bd/Read%20this%20brochure.pdf" target="_blank"><span class="mr-2"><i class="fas fa-file-pdf"></i></span>Read thhis brouchure</a></p>

      </div>
    </div>
    <!-- end row -->

  </div>
</div>
