<div class="row">
  <div class="col-8">

    <h2>Why do you need a domain name?</h2>

    <p>The most successful businesses use the same set of words and images in all customer touchpoints—on their website, in their emails and order confirmations, on their signs, etc. This is branding at its simplest. And the digital pieces of your brand all spring from your domain name. </p>
    <p><strong>Stake your claim: </strong>Registering domains related to your big idea or business name keeps others from using those names to pull traffic away from your website.</p>
    <p><strong>Take control: </strong>With a domain name, you can send customers, friends, and prospects wherever you want—whether that’s a website, blog, social page or storefront.</p>
    <p><strong>Protect your rights: </strong>Your domain gives you an exclusive piece of digital real estate that cannot be used by anyone else as long as it’s registered to you.</p>

    <ul class="fa-ul">
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Build a new website on it or forward your domain name to an existing website to attract more visitors.</li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Create and maintain a professional email address you’ll be proud to share with customers. </li>
      <li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Make it easy for customers to find you on Facebook, Twitter, Instagram and other social platforms. </li>
    </ul>

    <h3 class="text-uppercase">FAQ</h3>

    <div class="accordion" id="WordPress">
      <div class="card">
        <div class="card-header" id="WP-headingOne">
          <a href="#" class="collapsed"  data-toggle="collapse" data-target="#WP-collapseOne" aria-expanded="false" aria-controls="WP-collapseOne">
            What types of domains (TLDs) are currently available?
          </a>
        </div>
        <div id="WP-collapseOne" class="collapse" aria-labelledby="WP-headingOne" data-parent="#WordPress">
          <div class="card-body">
            <p>Currently, we support the following top level domains (TLDs):</p>
            <div class="row">
              <div class="col">
                <ul>
                  <li>.com</li>
                  <li>.info</li>
                  <li>.org</li>
                  <li>.net</li>
                  <li>.biz</li>
                  <li>.link</li>
                </ul>
              </div>
              <div class="col">
                <ul>
                  <li>.click</li>
                  <li>.futbol</li>
                  <li>.club</li>
                  <li>.rocks</li>
                  <li>.xyz</li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="WP-headingTwo">
          <a href="#" class="collapsed" data-toggle="collapse" data-target="#WP-collapseTwo" aria-expanded="false" aria-controls="WP-collapseTwo">
            How many domains can be purchased for my business?
          </a>
        </div>
        <div id="WP-collapseTwo" class="collapse" aria-labelledby="WP-headingTwo" data-parent="#WordPress">
          <div class="card-body">
            Currently, only one domain per business can be purchased.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="WP-headingThree">
          <a href="#"  class="collapsed"  data-toggle="collapse" data-target="#WP-collapseThree" aria-expanded="false" aria-controls="WP-collapseThree">
            Do I own my domain name?
          </a>
        </div>
        <div id="WP-collapseThree" class="collapse" aria-labelledby="WP-headingThree" data-parent="#WordPress">
          <div class="card-body">
            If you use an existing domain to build a site with us, you will retain ownership of that domain.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="WP-headingFour">
          <a href="#"  class="collapsed"  data-toggle="collapse" data-target="#WP-collapseFour" aria-expanded="false" aria-controls="WP-collapseFour">
            Can domains be transferred?
          </a>
        </div>
        <div id="WP-collapseFour" class="collapse" aria-labelledby="WP-headingFour" data-parent="#WordPress">
          <div class="card-body">
            No, not at this time.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="WP-headingFive">
          <a href="#"  class="collapsed"  data-toggle="collapse" data-target="#WP-collapseFive" aria-expanded="false" aria-controls="WP-collapseFive">
            Can domains be purchased in bulk?
          </a>
        </div>
        <div id="WP-collapseFive" class="collapse" aria-labelledby="WP-headingFive" data-parent="#WordPress">
          <div class="card-body">
            Yes! You can purchase more than one domain. This is especially important if you want to own the .com, .net, .org, and more for the same domain.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="WP-headingSix">
          <a href="#"  class="collapsed"  data-toggle="collapse" data-target="#WP-collapseSix" aria-expanded="false" aria-controls="WP-collapseSix">
            What are some tips on finding a good domain name?
          </a>
        </div>
        <div id="WP-collapseSix" class="collapse" aria-labelledby="WP-headingSix" data-parent="#WordPress">
          <div class="card-body">
            <ol>
              <li><strong>Make it easy to remember: </strong>This is why many businesses get domains with their business names in them. Some people,
              including Bob Parsons, even choose their business name after they have a domain they like.</li>
              <li><strong>Don’t register one that’s trademarked, copyrighted or being used by another company:</strong> This can lead to losing the domain and/or legal problems.</li>
              <li><strong>Shorter is usually better because they’re easier for customers to remember:</strong> It’s also easier to get matching usernames for Facebook, Twitter and any other social media accounts you have.</li>
              <li><strong>Got a local business:</strong> Include your neighborhood, city or country in your domain so local customers can quickly see where you are.</li>
              <li><strong>Avoid numbers or hyphens:</strong> Anyone who hears your web address won't know if you're using a numeral (5) or “five.” If your business name has a number in it, register both versions, with the numeral and with the number spelled out. Dashes are just asking for trouble and generally look unprofessional.</li>
            </ol>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="WP-headingSeven">
          <a href="#"  class="collapsed"  data-toggle="collapse" data-target="#WP-collapseSeven" aria-expanded="false" aria-controls="WP-collapseSeven">
            Why is there a one-year commitment for domains?
          </a>
        </div>
        <div id="WP-collapseSeven" class="collapse" aria-labelledby="WP-headingSeven" data-parent="#WordPress">
          <div class="card-body">
            Domain registrars require domains to be registered for a minimum of one year. This cannot be overwritten/worked around.
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
