
#logo {
  background: url(../images/Logo-transparent.png) no-repeat;
  background-size: cover;
  display: block;
  margin-top: -15px;
  height: 70px;
  width: 250px;
  /*margin-left: -150px;*/
  text-indent: -9999px
}
/*@media only screen and (min-width: 992px) {
  #logo {
    background: url(../images/Logo-transparent.png) no-repeat;
    background-size: cover;
  }
}

@media only screen and (min-width: 320px) {
  #logo {
    background: url(../images/kodemonkey.png)  no-repeat;;
    background-size: contain;
    margin-left: 50px;
  }
}*/

#iframe-div
{
  overflow:hidden;
  position:relative;
}

#SEO-div
{
  overflow:hidden;
  position:relative;
}

#iframe{
  position:relative;
  top: -35px;
}

.basic-ul{
  margin-left: 20px;
}

.basic-li{
  padding: 10px;
  margin-left: 35px;
  font-size: .8em;
  list-style: disc;
}
