---
layout: template
mine-image: ADA-Compliance/Accessibility-Testing.png
img-size: 100
title: ADA Compliance
category: Web Accessibility
subtitle: Become Digitaly Accessible
description: Making websties and applications ADA Compliant.
---

  <!-- Conethen -->
  <div class="row">
    <div class="col">
      <h2 class="pb-3" id="content">Why Accessibility is important</h2>
      <p>There are at least three reasons that might motivate a company to create accessible web content:</p>
      <ul>
        <li>To improve the lives of people with disabilities <span class="text-muted"><i>(human-centered motivations)</i></span></li>
        <li>To capitalize on a wider audience or consumer base <span class="text-muted"><i>(marketing or economic-centered motivations)</i></span></li>
        <li>To avoid lawsuits and/or bad press <span class="text-muted"><i>(public relations and punishment-centered motivations)</i></span></li>
      </ul>

      <div class="lead text-center shadow-sm p-3 mt-3 mb-3 bg-dark text-white rounded">
        <p class="display-4">Accessibility driven websites accomplish all these goals when people are at the center of the process.</p>
      </div>

      <p>The Kodemonkey team use the <strong><i>POUR</i></strong> principles set forth by the WCAG:</p>

      <ul>
        <li><strong>Perceivable</strong> - Information and user interface components must be presentable to users in ways they can perceive. This means that users must be able to perceive the information being presented (it can't be invisible to all of their senses)</li>
        <li><strong>Operable</strong> - User interface components and navigation must be operable. This means that users must be able to operate the interface (the interface cannot require interaction that a user cannot perform)</li>
        <li><strong>Understandable</strong> - Information and the operation of user interface must be understandable. This means that users must be able to understand the information as well as the operation of the user interface (the content or operation cannot be beyond their understanding)</li>
        <li><strong>Robust</strong> - Content must be robust enough that it can be interpreted reliably by a wide variety of user agents, including assistive technologies. This means that users must be able to access the content as technologies advance (as technologies and user agents evolve, the content should remain accessible)</li>

      </ul>

    <!--  <p>Those who are simply trying to avoid lawsuits realize they must be considered and addressed people with disabilities within their targeted audience.</p>  -->

      <hr />

      <h2>What is WCAG?</h2>

      <p><strong><a href="https://www.w3.org/WAI/standards-guidelines/wcag/" target="_blank">Web Content Accessibility Guidelines (WCAG)</a></strong>,
        developed by the World Wide Web Consortium (W3C) in cooperation with individuals and organizations around the world,
        to provide a single shared standard for web content accessibility that meets the needs of individuals, organizations, and governments internationally.</p>

      <p>The <strong>WCAG</strong> documents explain how to make web content more accessible to people with disabilities. Web "content" generally refers to the information no a web
        page or web application, including:</p>

      <ul>
        <li>Natural information such as text, images, and sounds</li>
        <li>Code or markup that defines the structure, presentation, etc.</li>
      </ul>

      <p>The <strong>WCAG</strong> is becoming a globally recognized voluntary consensus standard for web content. <strong>Information and Communication Technology (ICT)</strong>
      follows these guidelines for their <strong>VPAT documents</strong>.</p>

      <hr />

      <h2>What is Section 508?</h2>

      <div class="lead text-center shadow-sm p-3 mt-3 mb-3 bg-dark text-white rounded">
        <p class="display-4">Is your business a federal agency, or do you receive funding/assistance from the federal government?</br />
          Then you are required to abide by section Section 508 requirements.</p>
      </div>

      <p>In 1998, Congress amended the Rehabilitation Act of 1973 requiring Federal agencies to make electronic documents accessible to people with disabilities.
      <strong><a href="https://www.section508.gov/" title="GSA Government-wide IT Accessibility Program">Section 508</a></strong> applies to all Federal agencies when it pertains to electronic
      and information technology. Government agencies must give disabled employees and members of the public access to the same or comparable information as they do others.</p>

      <p>The <strong><a href="https://en.wikipedia.org/wiki/United_States_Access_Board" target="_blank">U.S. Access Board</a></strong> is responsible for developing accessibility standards that govern Federal
      procurement practices. January 2017, they issued a final rule that updated accessibility requirements for <strong>section 508</strong> and refreshed guidelines to <strong>Section 255</strong>.</p>

      <p>The refresh reorganized <strong>Section 508</strong> Standards and <strong>Section 255</strong> Guidelines in response to market trends and innovations in technology.
      The refresh also harmonized these requirements with other guidelines and standards both in the U.S. and abroad, including standards issued by the European Commission, and
      <strong>W3C</strong> guidelines know as <strong>WCAG</strong>.</p>

      <!-- Accordian - tabe menu -->
      <div class="accordion mt-5" id="TabMenu">
        <div class="row mb-5">
          <div class="col">
            <ul class="nav nav-tabs">
              <!-- WCAG-508 -->
              <li class="nav-item pr-0" id="heading-Audit">
                <p class="text-center pl-0 mt-0 mb-0"><button type="button" class="btn btn-small btn-primary" data-toggle="collapse" data-target="#Audit" aria-expanded="false" aria-controls="Audit"><i class="fab fa-accessible-icon"></i> ADA Site Audi</button></p>
              </li>
              <!-- ADA Toolbar -->
              <!--<li class="nav-item pr-0" id="heading-ADATB">
                <p class="text-center pl-3 mt-0 mb-0"><button type="button" class="btn btn-small btn-primary" data-toggle="collapse" data-target="#ADATB" aria-expanded="true" aria-controls="ADATB"><i class="fas fa-universal-access"></i> ADA Toolbar</button></p>
              </li> -->
              <!-- WordPress Plugin -->
              <!--<li class="nav-item pr-0" id="heading-WPPlugin">
                <p class="text-center pl-3 mt-0 mb-0"><button type="button" class="btn btn-small btn-primary" data-toggle="collapse" data-target="#WPPlugin" aria-expanded="true" aria-controls="WPPlugin"><i class="fas fa-plug"></i> WordPress Plugin</button></p>
              </li>-->
              <!-- ADA Remidation -->
              <li class="nav-item pr-0" id="heading-ADAR">
                <p class="text-center pl-3 mt-0 mb-0"><button type="button" class="btn btn-small btn-primary" data-toggle="collapse" data-target="#ADAR" aria-expanded="true" aria-controls="ADAR"><i class="fas fa-certificate"></i> ADA Remidation</button></p>
              </li>
              <!-- ADA Certification & Monitoring -->
              <li class="nav-item pr-0" id="heading-ADACM">
                <p class="text-center pl-3 mt-0 mb-0"><button type="button" class="btn btn-small btn-primary" data-toggle="collapse" data-target="#ADACM" aria-expanded="true" aria-controls="ADACM"><i class="fas fa-certificate"></i> Certification & Monitoring</button></p>
              </li>
            </ul>
          </div>
        </div>

        <!-- Tab #Audit-->
        <div id="Audit" class="collapse show" aria-labelledby="heading-Audit" data-parent="#TabMenu">
          <!-- Content -->
          <div class="row">
            <div class="col-9">
              <h2><a name="Audit">ADA Site Audit</a></h2>
            </div>
              <div class="col-3 float-right">
              <h2>Cost: $750</h2>
            </div>
          </div>

          <hr />

          <div class="row">
            <div class="col">
              <h3><strong>Get an Accessibility Audit</strong></h3>

              <p>A website is as good as the content it displays however, if a user can not access your content then you have lost a business
              opportunity.</p>

              <p>Don't lose a customer because they can not access your site due to a disability. There is about $495 billion, combined annual disposable,
              income among people that are disabled. This includes those with a temporary disability as well as those that are permanently disabled.</p>

              <p>Get a report outlining any accessibility issues you may have on your site.</p>

              <p><strong>How does this work?</strong></p>
              <ul>
                <li>We will run a scan and evaluate your site for accessibility issues</li>
                <li>We will deliver a report outlining the results and what needs to be fixed</li>
                <li>We are available for any assistance as your team resolves the issues</li>
              </ul>

              {% include Book-Consultation.html %}

            </div>
          </div>

        </div>  <!-- Close Tabe -->

        <!-- Tab #ADA Toolbar -->
        <!-- <div id="ADATB" class="collapse " aria-labelledby="heading-ADATB" data-parent="#TabMenu">
          <div class="row">
            <div class="col">
              <h2>Accessibility Toolbar</h2>
            </div>
            <div class="col-5 float-right">
              <h2>Cost: $180 per year</h2>
            </div>
          </div>

          <hr />

          <h3><strong>Instantly Provide a More Accessible Experience to Your Visitors</strong></h3>

          <p>Add front-end accessibility options to your website in just seconds with the Accessibility Toolbar and immediately provide
          <strong>WCAG</strong> compliant features for those with disabilities.</p>

          <p>The Accessibility Toolbar installs with just one script and makes it super simple for front-end users to make adjustments to your website.

          <div class="row">
            <div class="col-3">
              <ul>
                <li>Change the font</li>
                <li>Enlarge text size</li>
                <li>Find the best color contrast</li>
              </ul>
            </div>
            <div class="col">
              <img src="{{suite.url}}/assets/images/ADA-Compliance/accessibility-toolbar.png" class="img-fluid" style="width: 10%; height: auto;" alt="Accessibility Toolbar">
            </div>
          </div>

          <p>The toolbar also enables users who are hard of sight to use text-to-speech and accessible focus indicators to more easily navigate your site.</p>

          <p>User’s preferred accessibility options are saved in their browser so their preferences are automatically loaded when they return to your site or
          navigate to any other site using our Accessibility Toolbar.</p>

          {% include Book-Consultation.html %}

        </div>  --> <!-- Close Tabs -->

        <!-- Tab #WordPress Plugin -->
        <!-- <div id="WPPlugin" class="collapse " aria-labelledby="heading-WPPlugin" data-parent="#TabMenu">
          <div class="row">
            <div class="col">
              <h2>WordPress Plugin</h2>
            </div>
            <div class="col-5 float-right">
              <h2>Cost: $297 per year</h2>
            </div>
          </div>

          <hr />
          <h3><strong>Make your WordPress Site Digitally Accessible</strong></h3>

          <div class="lead text-center shadow-sm p-3 mb-3 bg-dark text-white rounded">
            <p class="display-4">Scan And Update Your Entire WordPress Website For Digital Accessibility Compliance In Just Minutes!</p>
          </div>

          <p>Digital accessibility isn’t new, however public awareness is just now coming into the mainstream with federal lawsuits swiftly on the rise.</p>

          <p>The international standards in digital accessibility for business websites are set by the <strong>W3C</strong> (World Wide Web Consortium) and is known as
          <strong>WCAG</strong> (Web Content Accessibility Guidelines). The U.S. government sets its own requirements for digital accessibility with what’s known as
          Section 508. Section 508 is the standard for government agencies, non-profits, and federal contractors.</p>

          <p>If you’re a business owner, know that most web design/development agencies are also just learning about these standards and how to meet them.
          Kaffeinated Kodemonkey is backed by a team of experts to help you through this.</p>

          <div class="row my-3">
            <div class="col">
              <div class="embed-responsive embed-responsive-16by9 mt-3 mb-3">
                <iframe title="vimeo-player" src="https://player.vimeo.com/video/307138960" class="embed-responsive-item" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>

          <hr />

          <div class="row mt-4 mb-2">
            <div class="col">
              <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 22rem; height: 22rem;">
                <div class="card-header text-center bg-kkmblue">
                  <h3 class="card-title">Step 1</h3>
                  <h4 class="card-subtitle mb-2 text-muted">Scan for Accessibility Issues</h4>
                </div>
                <div class="card-body">
                  <p class="card-text">Don’t settle for a solution that does not check your entire site. Our ADA Plugin scans <strong>everything</strong> on your
                  site – that means all media files, posts, pages, and objects. </p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 22rem; height: 22rem;">
                <div class="card-header text-center bg-kkmblue">
                  <h3 class="card-title">Step 2</h3>
                  <h4 class="card-subtitle mb-2 text-muted"> Examine Your Detailed Reports</h4>
                </div>
                <div class="card-body">
                  <p class="card-text">Get detailed reports that show you the exact elements in violation and the exact regulations to meet.
                  These reports are designed to be used by any developer regardless of prior accessibility experience.</p>
                </div>
              </div>
            </div>

            <div class="col">

              <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 22rem; height: 22rem;">
                <div class="card-header text-center bg-kkmblue">
                  <h3 class="card-title">Step 3</h3>
                  <h4 class="card-subtitle mb-2 text-muted">Set Recurring Scans</h4>
                </div>
                <div class="card-body">
                  <p class="card-text">After updating your site under the guidance of your reports, set up a recurring scan.
                  This ensures that your site stays compliant as new content is added.</p>
                </div>
              </div>
            </div>
          </div>

          {% include Book-Consultation.html %}

        </div> -->
        <!-- Close Tabs -->

        <!-- Tab #ADA Remidation-->
        <div id="ADAR" class="collapse" aria-labelledby="heading-ADAR" data-parent="#TabMenu">
          <!-- Content -->
          <div class="row">
            <div class="col-9">
              <h2>ADA Remidation</h2>
            </div>
            <div class="col-3 float-right">
              <h2>Cost: Request Quote</h2>
            </div>
          </div>

          <hr />

          <h3><strong>Got ADA Issues?</strong></h3>

          <p>Kaffeinated Kodemonkey Accessibility Specialist can help you resolve accessibility issues on your website.</p>

          <p>We will run a site audit if you have not had one done recently to identify accessibility issues on your website or application.</p>

          <p>Once completed our specialist will contact you with the results and discuss the remediation process.</p>

          {% include Book-Consultation.html %}

        </div>  <!-- Close Tabe -->

        <!-- Tab #ADA Certification & Monitoring-->
        <div id="ADACM" class="collapse" aria-labelledby="heading-ADACM" data-parent="#TabMenu">

          <!-- Content -->
          <div class="row">
            <div class="col-9">
              <h2>ADA Certification</h2>
            </div>
            <div class="col-3 float-right">
              <h2>Cost: Request Quote</h2>
            </div>
          </div>

          <hr />

          <h3><strong>Let's Talk Litigations</strong></h3>

          <div class="lead text-center shadow-sm p-3 mt-3 mb-3 bg-dark text-white rounded">
            <p class="display-4">It is important to understand that Kaffeinated Kodemonkey can not offer legal advice and advises you to seek legal
            counsel.</p>
          </div>

          <p>Being ADA Compliant is the only defense against litigations. It’s important to have a trusted third-party certification that validates
          your efforts.</p>

          <p>A website or app can fall out of compliance easily due to the product evolving through updates or additional content. These changes
          can cause your site to become vulnerable if you do not follow ADA requirements leaving your business open to the judge's discretion
          if taken to court.</p>

          <p>Why put your business at risk when you can have an Accessibility Partner in our corner.</p>

          <h3><strong>Become Digital Accessibility</strong></h3>

          <p>Getting certified isn’t just about displaying a badge on your website, it’s about the process of becoming compliant.</p>

          <p>It’s important to have a combination of software automation to detect compliance issues deep within a website and skilled human auditors
          doing a manual review because not all compliance issues can be detected or resolved through software alone.</p>

          <p>With our ADA Certification you get monthly accessibility monitoring and reports to keep you ahead of the game when any issues arise.</p>

          <p>Once your product is fully compliant you’re ready to proudly display a badge showing visitors your product is digitally accessible to
          those with disabilities as well as those without. And you can sleep at night knowing you have us watching your back.</p>

          <hr />

          <div class="row mb-2">
            <div class="col-md-6 offset-md-3">
              <h3 class="text-center py-3"><strong>WCAG & Section 508<br /> Digital Accessibility Certification</strong></h3>
              <form action="https://formspree.io/mwkkldzd" method="POST" class="p-3 mb-2 bg-light text-dark shadow-sm p-3 mb-5 rounded">
                <div class="form-group">
                  <label for="Name"><span class="text-danger">*</span>Name:</label>
                  <input type="text" class="form-control" id="Name" placeholder="Enter your name" required>
                  <div class="invalid-feedback">
                    Please enter your name.
                  </div>
                </div>

                <div class="form-group">
                  <label for="URL"><span class="text-danger">*</span>Website URL:</label>
                  <input type="url" class="form-control" id="URL" placeholder="Enter URL of website or app to be certified" required>
                  <div class="invalid-feedback">
                    Please enter URL to be certified.
                  </div>
                </div>

                <div class="form-group">
                  <label for="email"><span class="text-danger">*</span>Email Address:</label>
                  <input type="email" class="form-control" id="email" placeholder="name@example.com" required>
                  <div class="invalid-feedback">
                    Please enter a valid email.
                  </div>
                </div>

                <div class="form-group">
                  <label for="phone"><span class="text-danger">*</span>Phone:</label>
                  <input type="tel" class="form-control" id="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Use format 000-000-0000" required>
                  <div class="invalid-feedback">
                    Please enter your phone number.
                  </div>
                </div>

                <div class="form-group">
                  <label for="industry"><span class="text-danger">*</span>What is your Industry:</label>
                  <select class="form-control" id="industry" required>
                    <option value="DA">Digital Agency</option>
                    <option value="FWD">Freelance Web Dev</option>
                    <option value="BCU">Banking / Credit Union</option>
                    <option value="Edu">Education</option>
                    <option value="HH">Hotel / Hospitality</option>
                    <option value="NP">Non-Profit</option>
                    <option value="Gov">Government</option>
                    <option value="Other">Other</option>
                  </select>
                  <div class="invalid-feedback">
                    Please Select Your industry.
                  </div>
                </div>

                <button class="btn btn-primary" type="submit">Get Certified!</button>
              </form>
            </div>
          </div>
        </div>  <!-- Close Tabe -->

      </div> <!-- close accordion -->
      <!-- end row -->
    </div>
  </div> <!-- close main row -->

  <!--- JS for form validation --->
  <script>
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>
  <!-- End Js for form validation -->
