---
layout: template
mine-image: ADA-Compliance/Accessibility-Testing.png
img-size: 100
title: VPAT Document
category: Web Accessibility
subtitle: Do you need a VPAT
description: A Voluntary Product Accessibility Template (VPAT™) outlining accessibility.
---

  <!-- Conethen -->
  <div class="row">
    <div class="col">

      <h2 class="pb-3" id="content">What is a VPAT?</h2>

      <p>A Voluntary Product Accessibility Template (<span class="text-uppercase"><strong>VPAT</strong></span>) is a document that outlines how accessible a
      particular website, application or software or electronic document is according to the WCAG & Section 508 Standards. It is a self-disclosing document which
      details each aspect of the WCAG & Section 508 requirements and how the product supports each criteria.</p>

      <p>The VPAT document follows on the WCAG Guidelines for criteria and requires all sections to conform to these requirements for each level (A, AA, AAA)
      of conformance as well as the European Accessibility standards EN 301.</p>

      <p>VPAT's are complex, confusing, and time-consuming. Often time the person who receives a VPAT has difficulty understand and interpret the document and
      its requirements. This can be frustrating if you don't have an accessibility specialist on staff. Kaffeinated Kodemonkey has a team of experts to handle
      this for you.</p>

      <h2>Who needs a VPAT?</h2>
      <p>Most businesses that require a VPAT are because they were asked to show proof of accessibility. They are etiehr working with a government entity or submitting
      a Request for Proposal (RFP) and it requires a VPAT to be included.</p>

      <p>We recommend that you obtain a VPAT for the product that is being marketed to the Federal Government or the educational sector for they will require aVPAT to work with or use your product.</p>

      <!-- Accordian - tabe menu -->
      <div class="accordion mt-5" id="TabMenu">
        <div class="row mb-5">
          <div class="col">
            <ul class="nav nav-tabs">
              <!-- VPAT-only -->
              <li class="nav-item pr-0" id="heading-VPAT">
                <p class="text-center pl-0 pr-0 mt-0 mb-0"><button type="button" class="btn btn-small btn-primary" data-toggle="collapse" data-target="#VPAT" aria-expanded="false" aria-controls="VPAT"><i class="fas fa-file"></i> VPAT-Only</button></p>
              </li>
              <!-- POC -->
              <li class="nav-item pr-0" id="heading-POC">
                <p class="text-center pl-3 pr-0 mt-0 mb-0"><button type="button" class="btn btn-small btn-primary" data-toggle="collapse" data-target="#POC" aria-expanded="false" aria-controls="POC"><i class="fas fa-file"></i> Proof-of-Compliance (POC)</button></p>
              </li>
            </ul>
          </div>
        </div>

        <!-- Tab #VPAT-->
        <div id="VPAT" class="collapse show" aria-labelledby="heading-VPAT" data-parent="#TabMenu">
          <!-- Content -->
          <div class="row">
            <div class="col">
              <h2><a name="VPAT">VPAT-Only</a></h2>
            </div>
            <div class="col-5 float-right">
              <h2>Cost: $995</h2>
            </div>
          </div>

          <hr />

          <!--<h3><strong>VPAT-Only</strong></h3>-->

          <p>Essentially you have been asked either by your boss, prospective client, or you are a go-getter and have chosen to be proactive and fill out a
          <strong>VPAT</strong> Document for your product to demonstrate your current <strong>WCAG</strong> conformance Level.</p>

          <p>When a company attempts to complete the <strong>VPAT</strong> on their own they may not be completely honest and list all the issues even if they are minor because it
          can mean additional work for the team or maybe they do not fully understand how to resolve the issue. By hiring a third party you can rest assured that
          all issues will be notated accurately. Kaffeinated Kodemonkey's team will stand with you and help in the remediation process.</p>

          <p>Let our team of accessibility experts complete the <strong>VPAT</strong> for you. We will analyze each page and test your site for hands-free access, vision impairedness,
          low-vision, color-blind, learning disabilities, deafness, low-hearing, and more through assistive technologies. Upon completion we will deliver a completed
          VPAT, indicating where your site passed and failed.</p>

          {% include Book-Consultation.html %}

        </div>  <!-- Close Tabe -->

        <!-- Tab #POC-->
        <div id="POC" class="collapse" aria-labelledby="heading-POC" data-parent="#TabMenu">
          <!-- Content -->
          <div class="row">
            <div class="col">
              <h2><a name="VPAT">POC</a></h2>
            </div>
            <div class="col-5 float-right">
              <h2>Cost: Request a Quote</h2>
            </div>
          </div>

          <hr />

          <!-- <h3><strong>VPAT Audit</strong></h3> -->
          <p>This is designed for business with websites that are mainly static in natuer, content and code remains the same, and you are not adding
          new featuers on daily or weekly basis.</p>

          <p>With the Proof-of-Compliance Evaluation our team will work with you to resolve any compliance issues and in six (6) months we will re-evalueate
          your site to chatch any new issues that may have resulted in site updates or changes to content.</p>

          <p><strong>What is included:</strong></p>
          <ul>
            <li>Full site evaluate</li>
            <li>Completed VPAT document</li>
            <li>Accessibility Statemente</li>
            <li>How-To-Fix report showing all issues that were found</li>
            <li>POC badge indicating when your site was last evaluated</li>            
            <li>Six (6) month re-evaluation and updated documents
          </ul>

          {% include Book-Consultation.html %}

        </div>  <!-- Close Tabe -->

      </div> <!-- close accordion -->
      <!-- end row -->
    </div>
  </div> <!-- close main row -->

  <!--- JS for form validation --->
  <script>
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>
  <!-- End Js for form validation -->
