---
layout: front
---
&nbsp;
<div class="container">

  &nbsp;

  <h1>{{page.title}}</h1>

  <div class="row">
    <div class="col-sm-offset-0 col-sm-3">
      {% include youcanbook.html %}
    </div>
    <div class="col-sm-7">
        {{ content }}
    </div>
    <div class="col-sm-2">
      <!-- blog archives -->
      {% for category in site.categories %}
      <h4 class="text-uppercase">{{ category | first }}</a></h4>
      <ul>
        {% for post in site.posts %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
        {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-3 col-sm-7">
      {% include disqus.html %}
    </div>
  </div>
</div>

<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us11.list-manage.com","uuid":"25ed2db8c5f44be422ac9503a","lid":"7c176cc3e0"}) })</script>
<!-- if page.image != nil and page.image != empty -->
