
    {% include head.html %}

    <script>
    fbq('track', 'ViewContent');
  </script>

<body>
  <!-- Policy Statement-->
  <script>
  (function () {
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = 'https://app.termly.io/embed.min.js';
    s.id = '52e43813-624b-43c3-b1de-354e2f549dec';
    s.setAttribute("data-name", "termly-embed-banner");
    var x = document.getElementsByTagName('script')[0];
    x.parentNode.insertBefore(s, x);
  })();
</script>
<a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>
    {% include social.html %}

    {% include homepage.html %}


    {% include footer.html %}
