---
layout: front
---
&nbsp;
<div class="container">

  &nbsp;

  <h1>{{page.title}}</h1>

  <div class="row">
    <div class="hidden-xs hidden-sm col-md-4 col-lg-3">
      {% if page.category == "about" %}
        <img src="img/{{page.image}}" class="page_image">
      {% elsif page.category == "services" %}
        {% include youcanbook.html %}
      {% else %}
        {% include reviews.html %}
      {% endif %}
    </div>
    <div class="col-sm-12 col-md-8 col-lg-9">
        {{ content }}
    </div>
  </div>
</div>


<!-- if page.image != nil and page.image != empty -->
