  {% include head.html %}

  <script>
  fbq('track', 'ViewContent');
</script>

{% include social.html %}
{% include nav.html %}

<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-3">
      <div class="row ml-3">
        <div class="col">
          {% if page.categories == "blog" %}
            <h1>{{ page.title }}</h1>
          {% endif %}
            <img src="{{ site.url }}/assets/images/{{page.image}}" style="width:50%; height: auto;" class="img-responsive" alt="{{page.title}}" />
        </div>
      </div>
      <hr />

      {% include Newsletter.html %}

      <hr />
      <!-- includes adds -->
      {% include Ad.html %}
    </div>

    <div class="col-sm-8 col-md-9 shadow pt-5 p-5 mt-0 mb-5 bg-white rounded">
      <div class="row">
        <!-- Content -->
        <div class="col-9">
          <small> {{ page.date | date: '%B %d, %Y' }} | {{site.author}}</small>
            {{ content }}
        </div>

        <!-- Archives -->
        <div class="col-3">
          <hr />
          <h3>Archived</h3>
          <hr />

            <ul>
              {% for category in site.categories %}
                <li><a href="{{ site.url }}/blog/{{ category[0] }}">{{ category[0] }}</a></li>
              {% endfor %}
            </ul>

          <hr />
          <h3>Tags</h3>
          <hr />

          <ul>
            {% for tags in page.tags %}
                <li>{{ tags }}</li>
            {% endfor %}
          </ul>

        </div>
      </div>

      <!-- disqus -->
      <div class="row mt-5">
        <div class="col-10">
          {% include disqus.html %}
        </div>
      </div>
    </div>
  </div>
</div>
{% include footer.html %}
