---
layout: front
---

<div class="container">
  <br/>
  <h1>{{page.title}}</h1>

  <div class="row">
    <div class="hidden-xs hidden-sm col-md-2">
      {% if page.category == "about" %}
        <img src="{{base.url}}/img/TheKodemonkey.jpg" class="img-fluid img-thumbnail">
      {% elsif page.category == "services" %}
        {% include youcanbook.html %}
      {% else %}
        {% include reviews.html %}
      {% endif %}
    </div>
    <div class="col-sm-12 col-md-8 col-lg-10">
        {{ content }}
    </div>
  </div>
</div>


<!-- if page.image != nil and page.image != empty -->
