
  {% include head.html %}
  {% include social.html %}
  {% include nav.html %}

  <div class="container-fluid">
    <div class="row ml-3 mt-5 mb-5">
      <!-- left colmun -->
      <div class="col-sm-3 col-md-3">
        <!-- page title or category and subtitle -->
        {% if page.title == "About" %}
          <h2>{{ page.category }}</h2>
          <p>{{page.subtitle}}</p>
          <!-- image -->
          <p class="text-center"><img class="img-responsive img-thumbnail" src="{{sit.url}}/assets/images/{{page.mine-image}}" style="width: 50%; height: auto;" alt="Heather Welsh"></p>
        {% elsif page.title == "Contact Us" %}
          <h2>{{ page.category }}</h2>
          <p>{{page.subtitle}}</p>
          <!-- fb feed -->
          {% include fbpost.html %}
          <p><a href="https://kaffeinatedkodemonkey.youcanbook.me/" role="button" class="btn btn-md btn-warning">Schedule a Free Consultation</a></p>
        {% else %}
          <!-- category and subtitle -->
          <h2>{{ page.category }}</h2>
          <p>{{page.subtitle}}</p>
          <hr />

          <!-- include Newsletter -->
          {% include Newsletter.html %}
        {% endif %}

        <hr />
        <!-- includes adds -->
        {% include Ad.html %}

      </div>
      <!-- right - Main Column -->
      <div class="col-sm-8 col-md-9 shadow pt-5 p-5 mt-0 mb-5 bg-white rounded">
        {% if page.title == "Contact Us" or page.title == "Wrong Page" or page.title == "FAQ" %}
        <div class="row">
          <div class="col-sm-8">
              <img src="{{site.url}}/assets/images/{{page.mine-image}}" class="mt-2 img-fluid img-thumbnail rounded" style="width: {{page.img-size}}%; height: auto;" alt="{{page.title}}">

              <h1 class="mt-4">{{page.title}}</h1>
          </div>
        </div>
        {% elsif page.title == "About" %}
        <div class="row">
          <div class="col-sm-8">
              <h1 class="mt-4">{{page.title}}</h1>
          </div>
        </div>
        {% else %}
          <!-- top row image title & Price -->
          <div class="row">
            <div class="col">
              {% if page.title == "Local Listings" %}
              <div class="embed-responsive embed-responsive-16by9 mt-3 mb-3">
                <iframe class="embed-responsive-item" src="https://storage.googleapis.com/mediarepo-prod/marketplace-products/09d5dd20-67d5-4fcf-87e1-98ced40c5912/Unbranded%20marketing%20video.mp4" allowfullscreen></iframe>
              </div>
              {% elsif  page.title == "SEO Marketing" %}

              <A href="https://www.youtube.com/embed/hF515-0Tduk" target="_blank"><img src="{{site.url}}/assets/images/{{page.mine-image}}" class="img-fluid img-thumbnail rounded" style="width: {{page.img-size}}%; height: auto;" alt="{{page.title}}"></a>
              <!-- <div class="embed-responsive embed-responsive-16by9 mt-3 mb-3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hF515-0Tduk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div> -->

              {% else %}
                <img src="{{site.url}}/assets/images/{{page.mine-image}}" class="img-fluid img-thumbnail rounded" style="width: {{page.img-size}}%; height: auto;" alt="{{page.title}}">
              {% endif %}
            </div>
          </div>

          <div class="row mt-4">
            <div class="col">
              <h1>{{page.title}}</h1>
            </div>
            <div class="col-3 ml-5 pl-5 float-right">
              <p class="mt-1"><a href="https://kaffeinatedkodemonkey.youcanbook.me/" role="button" class="ml-5 btn btn-md btn-warning">Book Free Consultation</a></p>
            </div>
          </div>
        {% endif %}

        <hr/>
        {{ content }}

      </div>
    </div>
  </div>

  {% include footer.html %}
