
  {% include head.html %}

  <script>
    fbq('track', 'ViewContent');
  </script>

  {% include social.html %}
  {% include nav.html %}

  <div class="container-fluid">
    <div class="row ml-3 mt-5 mb-5">
      <!-- left colmun -->
      <div class="col-sm-3 col-md-3">
        <!-- page title or category and subtitle -->
        {% if page.title == "About" %}
          <!-- image -->
          <img class="img-responsive img-thumbnail" src="{{sit.url}}/assets/images/TheKodemonkey.jpg" alt="Heather Welsh">
        {% elsif page.title == "Contact Us" %}
          <!-- fb feed -->
          {% include fbpost.html %}
          <p><a href="https://kaffeinatedkodemonkey.youcanbook.me/" role="button" class="btn btn-md btn-danger">Schedule a Free Consultation</a></p>
        {% else %}
          <!-- category and subtitle -->
          <h2>{{ page.category }}</h2>
          <p>{{page.subtitle}}</p>
          <hr />

          <!-- include Newsletter -->
          {% include Newsletter.html %}
        {% endif %}

        <!-- include Addons -->
        {% include Add-On.html %}
        <hr />
        <!-- includes adds -->
        {% include Ad.html %}

      </div>
      <!-- right - Main Column -->
      <div class="col-sm-8 col-md-9 shadow pt-5 p-5 mt-0 mb-5 bg-white rounded">
        {% unless page.layout == "blog" or page.title == "Accessibility Statement" or page.title == "Wrong Page" %}
          {% if page.title == "Contact Us" or page.title == "About" %}
            <h1 class="mt-4">{{page.title}}</h1>

          {% else %}
            <!-- top row image title & Price -->
            <div class="row">
              <div class="col-sm-7">
                  <img src="{{site.url}}/assets/images/{{page.mine-image}}" class="mt-2 rounded" style="width: {{page.img-size}}%; height: auto;" alt="{{page.title}}">

                  <h1 class="mt-4">{{page.title}}</h1>
              </div>
              <div class="col-sm-5">
                <div class="row ml-5">
                  <div class="col">
                    <h2>Pricing</h2>
                  </div>
                </div>
                <hr />
                <div class="row ml-5">
                  <div class="col">
                    <p>Setup: {{page.setup}}</p>
                    <p>Monthly: {{page.cost}}</p>
                    <p>Yearly Renewal: {{page.renewal}}</p>

                    <a href="https://kaffeinatedkodemonkey.youcanbook.me/" role="button" class="btn btn-md btn-danger">Book Free Consultation</a>

                  </div>
                </div>
              </div>
            </div>
          {% endif  %}
        {% endunless %}

        {{ content }}

      </div>
    </div>
  </div>

  {% include footer.html %}
